<div class="clearfix"></div>
<div class="cute-box-else calc-form ipotech-calc">
	<p>Вы можете самостоятельно сравнить предложения разных банков. И нет необходимости общаться со служащими банков. Интерфейс и функционал калькулятора столь универсален, что можно рассчитывать как обычные кредиты, так и специальные кредитные программы — например, «Ипотека: молодая семья». Но иногда у банков бывают свои особенности в расчетах!</p>
	<form class="form-horizontal">
		<table>
			<tr>
				<td>
					<div class="control-group">
						<label class="control-label" for="#">Стоимость квартиры:</label>
						<div class="controls multiple">
							<input type="text" id="#">
							<select>
								<option>Руб.</option>
								<option>Тумрики</option>
								<option>Апельсины</option>
								<option>4</option>
								<option>5</option>
							</select>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="#">Первоначальный взнос:</label>
						<div class="controls">
							<input type="text" id="#">
						</div>
					</div>
				</td>
				<td>
					<div class="control-group">
						<label class="control-label" for="#">Срок ипотеки:</label>
						<div class="controls multiple">
							<input type="text" id="#">
							<select>
								<option>Лет</option>
								<option>Столетий</option>
								<option>∞</option>
								<option>4</option>
								<option>5</option>
							</select>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="#">Процентная ставка:</label>
						<div class="controls multiple-reverse">
							<input type="text" id="#">
							<select>
								<option>% в год</option>
								<option>..</option>
								<option>..</option>
								<option>4</option>
								<option>5</option>
							</select>
						</div>
					</div>
				</td>
			</tr>
		</table>
		<h3>Дополнительные параметры</h3>
		<div class="control-group">
			<label class="control-label" for="#">Единовременные комиссии:</label>
			<div class="controls multiple">
				<input type="text" id="#">
				<select>
					<option>% от суммы ипотеки</option>
					<option>..</option>
					<option>..</option>
					<option>4</option>
					<option>5</option>
				</select>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="#">Ежемесячные комиссии:</label>
			<div class="controls multiple">
				<input type="text" id="#">
				<select>
					<option>% от суммы ипотеки</option>
					<option>..</option>
					<option>..</option>
					<option>4</option>
					<option>5</option>
				</select>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputEmail">Вид платежа:</label>
			<div class="controls">
				<select>
					<option>аннуитетный</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
				</select>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="#">Начало выплат:</label>
			<div class="controls multiple simetric">
				<select>
					<option>январь</option>
					<option>..</option>
					<option>..</option>
					<option>4</option>
					<option>5</option>
				</select>
				<select>
					<option>2013</option>
					<option>..</option>
					<option>..</option>
					<option>4</option>
					<option>5</option>
				</select>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<button class="btn btn-primary">Рассчитать</button>
			</div>
		</div>
	</form>
</div>
<div class="cute-box-else calc-form credit-calc">
	<p>Вы можете самостоятельно сравнить предложения разных банков. И нет необходимости общаться со служащими банков. Интерфейс и функционал калькулятора столь универсален, что можно рассчитывать как обычные кредиты, так и специальные кредитные программы — например, «Ипотека: молодая семья». Но иногда у банков бывают свои особенности в расчетах!</p>
	<form class="form-horizontal">
		<table>
			<tr>
				<td>
					<div class="control-group">
						<label class="control-label" for="#">Стоимость квартиры:</label>
						<div class="controls multiple">
							<input type="text" id="#">
							<select>
								<option>Руб.</option>
								<option>Тумрики</option>
								<option>Апельсины</option>
								<option>4</option>
								<option>5</option>
							</select>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="#">Первоначальный взнос:</label>
						<div class="controls">
							<input type="text" id="#">
						</div>
					</div>
				</td>
				<td>
					<div class="control-group">
						<label class="control-label" for="#">Срок ипотеки:</label>
						<div class="controls multiple">
							<input type="text" id="#">
							<select>
								<option>Лет</option>
								<option>Столетий</option>
								<option>∞</option>
								<option>4</option>
								<option>5</option>
							</select>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="#">Процентная ставка:</label>
						<div class="controls multiple-reverse">
							<input type="text" id="#">
							<select>
								<option>% в год</option>
								<option>..</option>
								<option>..</option>
								<option>4</option>
								<option>5</option>
							</select>
						</div>
					</div>
				</td>
			</tr>
		</table>
		<h3>Дополнительные параметры</h3>
		<div class="control-group">
			<label class="control-label" for="#">Единовременные комиссии:</label>
			<div class="controls multiple">
				<input type="text" id="#">
				<select>
					<option>% от суммы ипотеки</option>
					<option>..</option>
					<option>..</option>
					<option>4</option>
					<option>5</option>
				</select>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="#">Ежемесячные комиссии:</label>
			<div class="controls multiple">
				<input type="text" id="#">
				<select>
					<option>% от суммы ипотеки</option>
					<option>..</option>
					<option>..</option>
					<option>4</option>
					<option>5</option>
				</select>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputEmail">Вид платежа:</label>
			<div class="controls">
				<select>
					<option>аннуитетный</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
				</select>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="#">Начало выплат:</label>
			<div class="controls multiple simetric">
				<select>
					<option>январь</option>
					<option>..</option>
					<option>..</option>
					<option>4</option>
					<option>5</option>
				</select>
				<select>
					<option>2013</option>
					<option>..</option>
					<option>..</option>
					<option>4</option>
					<option>5</option>
				</select>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<button class="btn btn-primary">Рассчитать</button>
			</div>
		</div>
	</form>
</div>