<form id="write-us" class="modal modal-small form-horizontal hide fade">
	<div class="modal-body">
		<div class="control-group">
			<div class="pull-right clearfix">
				<button class="close" data-dismiss="modal" type="button"><img src="/static/img/site/form-close.png"></button>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="#">Ваше имя</label>
			<div class="controls">
				<input type="text" id="#" >
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="#">Эл. почта</label>
			<div class="controls">
				<input type="text" id="#" >
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="#">Сформулируйте Ваш вопрос и наши специалисты свяжутся в Вами</label>
			<div class="controls">
				<textarea rows="6"></textarea>
			</div>
		</div>
		<div>
			<button class="btn btn-primary pull-right">Отправить</button>
		</div>
	</div>
</form>

<form id="call-back" class="modal modal-small form-horizontal hide fade">
	<div class="modal-body">
		<div class="centered">
			<div class="control-group">
				<div class="pull-right clearfix">
					<button class="close" data-dismiss="modal" type="button"><img src="/static/img/site/form-close.png"></button>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="#">Ваше имя</label>
				<div class="controls">
					<input type="text" id="#" >
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="#">Телефон</label>
				<div class="controls">
					<input type="text" id="#" >
				</div>
			</div>
			<div>
				<button class="btn btn-primary pull-right">Заказать</button>
			</div>
		</div>
	</div>
</form>

<form id="select-area" class="modal modal-small modal-small-select-area form-horizontal hide fade">
	<div class="modal-body">
		<div class="centered">
			<div class="control-group">
				<div class="pull-left">
					<p>Выбрать город и район</p>
				</div>
				<div class="pull-right clearfix">
					<button class="close" data-dismiss="modal" type="button"><img src="/static/img/site/form-close.png"></button>
				</div>
			</div>
			<div class="control-group">
				<div class="control-label" for="#">
					<ul class="modal-select">
						<li class="active">
							<a href="#1">Екатеринбург</a><span>(186)</span>
						</li>
						<li>
							<a href="#2">Арамиль</a><span>(1)</span>
						</li>
						<li>
							<a href="#3">Ачит</a><span>(1)</span>
						</li>
						<li>
							<a href="#4">Другой</a><span>(18)</span>
						</li>
					</ul>
				</div>
				<div class="controls">
					<div class="tab-content">
						<div class="tab-pane active" id="1">
							<label class="checkbox">
								<input type="checkbox"> Ю-З
							</label>
							<label class="checkbox inherit">
								<input type="checkbox"> Заречный
							</label>
							<label class="checkbox inherit">
								<input type="checkbox"> ВИЗ
							</label>
							<label class="checkbox inherit">
								<input type="checkbox"> Уралмаш
							</label>
							<label class="checkbox inherit">
								<input type="checkbox"> Синие Камни
							</label>
							<label class="checkbox inherit">
								<input type="checkbox"> ВИЗ
							</label>
							<label class="checkbox inherit">
								<input type="checkbox"> Уралмаш
							</label>
							<label class="checkbox inherit">
								<input type="checkbox"> Синие Камни
							</label>
							<label class="checkbox inherit">
								<input type="checkbox"> Синие Камни
							</label>
							<label class="checkbox inherit">
								<input type="checkbox"> ВИЗ
							</label>
							<label class="checkbox inherit">
								<input type="checkbox"> Уралмаш
							</label>
							<label class="checkbox inherit">
								<input type="checkbox"> Синие Камни
							</label>
						</div>
						<div class="tab-pane" id="2">
							<label class="checkbox">
								<input type="checkbox"> Ю-З
							</label>
							<label class="checkbox inherit">
								<input type="checkbox"> Заречный
							</label>
							<label class="checkbox inherit">
								<input type="checkbox"> ВИЗ
							</label>
							<label class="checkbox inherit">
								<input type="checkbox"> Уралмаш
							</label>
							<label class="checkbox inherit">
								<input type="checkbox"> Синие Камни
							</label>
						</div>
						<div class="tab-pane" id="3">
							<label class="checkbox">
								<input type="checkbox"> Ю-З
							</label>
							<label class="checkbox inherit">
								<input type="checkbox"> Заречный
							</label>
							<label class="checkbox inherit">
								<input type="checkbox"> ВИЗ
							</label>
							<label class="checkbox inherit">
								<input type="checkbox"> Уралмаш
							</label>
							<label class="checkbox inherit">
								<input type="checkbox"> Синие Камни
							</label>
						</div>
						<div class="tab-pane" id="4">
							<label class="checkbox">
								<input type="checkbox"> Ю-З
							</label>
							<label class="checkbox inherit">
								<input type="checkbox"> Заречный
							</label>
							<label class="checkbox inherit">
								<input type="checkbox"> ВИЗ
							</label>
							<label class="checkbox inherit">
								<input type="checkbox"> Уралмаш
							</label>
							<label class="checkbox inherit">
								<input type="checkbox"> Синие Камни
							</label>
						</div>
					</div>
				</div>
			</div>
			<div>
				<button class="btn btn-primary pull-right">Выбрать</button>
			</div>
		</div>
	</div>
</form>

<form id="search-on-map" class="modal modal-large form-horizontal hide fade">
	<div class="modal-body">
		<div class="centered">
			<div class="control-group">
				<div class="pull-left">
					<p>Выбрать город и район</p>
				</div>
				<div class="pull-right clearfix">
					<button class="close" data-dismiss="modal" type="button"><img src="/static/img/site/form-close.png"></button>
				</div>
			</div>
			<div class="control-group">
				<img src="/static/img/site/map.png" width="930">
			</div>
			<div>
				<button class="btn btn-primary pull-right">Выбрать</button>
			</div>
		</div>
	</div>
</form>