<div class="pagination-box">
	<ul class="clearfix">
		<li class="prev-page"><a href="#">Предыдущая</a></li>
		<li class="active"><a href="#">1</a></li>
		<li><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li><a href="#">4</a></li>
		<li><a href="#">5</a></li>
		<li><a href="#">6</a></li>
		<li><a href="#">7</a></li>
		<li><a href="#">8</a></li>
		<li><a href="#">9</a></li>
		<li class="next-page"><a href="#">Следующая</a></li>
	</ul>
</div>