<div class="row">
	<div class="span15">
		<div class="request-page">
			<div class="arrow-small"><h1>Клиентам</h1></div>
			<ul id="request" class="request clearfix">
				<li><span>Оформить заявку на:</span></li>
				<li><a href="#buy">Покупку</a></li>
				<li><a href="#sell">Продажу</a></li>
				<li><a href="#rent">Аренду</a></li>
				<li><a href="#for-rent">Сдачу</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane" id="buy">
					<h2>Заявка на покупку</h2>
					<div class="cute-box-large cute-box">
						<form class="form-horizontal">
							<table>
								<tr>
									<td>
										<div class="control-group">
											<label class="control-label" for="#">Тип объекта</label>
											<div class="controls">
												<select>
													<option>Квартира</option>
													<option>2</option>
													<option>3</option>
													<option>4</option>
													<option>5</option>
												</select>
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" for="#">Город *</label>
											<div class="controls">
												<input type="text" id="#">
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" for="#">Район</label>
											<div class="controls">
												<input type="text" id="#">
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" for="#">Адрес</label>
											<div class="controls">
												<input type="text" id="#">
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" for="inputEmail">Планировка</label>
											<div class="controls">
												<select>
													<option>Любая</option>
													<option>2</option>
													<option>3</option>
													<option>4</option>
													<option>5</option>
												</select>
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" for="#">Цена</label>
											<div class="controls multiple">
												<label for="#">от</label>
												<input type="text" id="#">
												<label for="#">до</label>
												<input type="text" id="#">
											</div>
										</div>
									</td>
									<td>
										<div class="control-group">
											<label class="control-label" for="inputEmail">Количество комнат</label>
											<div class="controls">
												<select>
													<option>1</option>
													<option>2</option>
													<option>3</option>
													<option>4</option>
													<option>5</option>
												</select>
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" for="inputEmail">Площадь</label>
											<div class="controls">
												<select>
													<option>Любая</option>
													<option>2</option>
													<option>3</option>
													<option>4</option>
													<option>5</option>
												</select>
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" for="inputEmail">Этаж</label>
											<div class="controls">
												<select>
													<option>Любая</option>
													<option>2</option>
													<option>3</option>
													<option>4</option>
													<option>5</option>
												</select>
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" for="inputEmail">Тип постройки</label>
											<div class="controls">
												<select>
													<option>Любая</option>
													<option>2</option>
													<option>3</option>
													<option>4</option>
													<option>5</option>
												</select>
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" for="inputEmail">Материал стен</label>
											<div class="controls">
												<select>
													<option>Любая</option>
													<option>2</option>
													<option>3</option>
													<option>4</option>
													<option>5</option>
												</select>
											</div>
										</div>
									</td>
									<td>
										<span class="help-block">Ваше имя *</span>
										<input type="text">
										<span class="help-block">Контактный телефон *</span>
										<input type="text">
										<span class="help-block">Электронная почта</span>
										<input type="text">
									</td>
								</tr>
								<tr>
									<td colspan="3">
										<span class="pull-left info">* Поля обязательные для заполнения</span>
										<button class="btn btn-primary pull-right">Отправить</button>
									</td>
								</tr>
							</table>
						</form>
					</div>
				</div>

				<div class="tab-pane" id="sell">
					<h2>Заявка на продажу</h2>
					<div class="cute-box-large cute-box">
						<form class="form-horizontal">
							<table>
								<tr>
									<td>
										<div class="control-group">
											<label class="control-label" for="#">Тип объекта</label>
											<div class="controls">
												<select>
													<option>Квартира</option>
													<option>2</option>
													<option>3</option>
													<option>4</option>
													<option>5</option>
												</select>
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" for="#">Город *</label>
											<div class="controls">
												<input type="text" id="#">
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" for="#">Район</label>
											<div class="controls">
												<input type="text" id="#">
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" for="#">Адрес</label>
											<div class="controls">
												<input type="text" id="#">
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" for="inputEmail">Планировка</label>
											<div class="controls">
												<select>
													<option>Любая</option>
													<option>2</option>
													<option>3</option>
													<option>4</option>
													<option>5</option>
												</select>
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" for="#">Цена</label>
											<div class="controls multiple">
												<label for="#">от</label>
												<input type="text" id="#">
												<label for="#">до</label>
												<input type="text" id="#">
											</div>
										</div>
									</td>
									<td>
										<div class="control-group">
											<label class="control-label" for="inputEmail">Количество комнат</label>
											<div class="controls">
												<select>
													<option>1</option>
													<option>2</option>
													<option>3</option>
													<option>4</option>
													<option>5</option>
												</select>
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" for="inputEmail">Площадь</label>
											<div class="controls">
												<select>
													<option>Любая</option>
													<option>2</option>
													<option>3</option>
													<option>4</option>
													<option>5</option>
												</select>
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" for="inputEmail">Этаж</label>
											<div class="controls">
												<select>
													<option>Любая</option>
													<option>2</option>
													<option>3</option>
													<option>4</option>
													<option>5</option>
												</select>
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" for="inputEmail">Тип постройки</label>
											<div class="controls">
												<select>
													<option>Любая</option>
													<option>2</option>
													<option>3</option>
													<option>4</option>
													<option>5</option>
												</select>
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" for="inputEmail">Материал стен</label>
											<div class="controls">
												<select>
													<option>Любая</option>
													<option>2</option>
													<option>3</option>
													<option>4</option>
													<option>5</option>
												</select>
											</div>
										</div>
									</td>
									<td>
										<span class="help-block">Ваше имя *</span>
										<input type="text">
										<span class="help-block">Контактный телефон *</span>
										<input type="text">
										<span class="help-block">Электронная почта</span>
										<input type="text">
									</td>
								</tr>
								<tr>
									<td colspan="3">
										<span class="pull-left info">* Поля обязательные для заполнения</span>
										<button class="btn btn-primary pull-right">Отправить</button>
									</td>
								</tr>
							</table>
						</form>
					</div>
				</div>
				<div class="tab-pane" id="rent">
					<h2>Заявка на аренду</h2>
					<div class="cute-box-large cute-box">
						<form class="form-horizontal">
							<table>
								<tr>
									<td>
										<div class="control-group">
											<label class="control-label" for="#">Тип объекта</label>
											<div class="controls">
												<select>
													<option>Квартира</option>
													<option>2</option>
													<option>3</option>
													<option>4</option>
													<option>5</option>
												</select>
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" for="#">Город *</label>
											<div class="controls">
												<input type="text" id="#">
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" for="#">Район</label>
											<div class="controls">
												<input type="text" id="#">
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" for="#">Адрес</label>
											<div class="controls">
												<input type="text" id="#">
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" for="inputEmail">Планировка</label>
											<div class="controls">
												<select>
													<option>Любая</option>
													<option>2</option>
													<option>3</option>
													<option>4</option>
													<option>5</option>
												</select>
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" for="#">Цена</label>
											<div class="controls multiple">
												<label for="#">от</label>
												<input type="text" id="#">
												<label for="#">до</label>
												<input type="text" id="#">
											</div>
										</div>
									</td>
									<td>
										<div class="control-group">
											<label class="control-label" for="inputEmail">Количество комнат</label>
											<div class="controls">
												<select>
													<option>1</option>
													<option>2</option>
													<option>3</option>
													<option>4</option>
													<option>5</option>
												</select>
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" for="inputEmail">Площадь</label>
											<div class="controls">
												<select>
													<option>Любая</option>
													<option>2</option>
													<option>3</option>
													<option>4</option>
													<option>5</option>
												</select>
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" for="inputEmail">Этаж</label>
											<div class="controls">
												<select>
													<option>Любая</option>
													<option>2</option>
													<option>3</option>
													<option>4</option>
													<option>5</option>
												</select>
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" for="inputEmail">Тип постройки</label>
											<div class="controls">
												<select>
													<option>Любая</option>
													<option>2</option>
													<option>3</option>
													<option>4</option>
													<option>5</option>
												</select>
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" for="inputEmail">Материал стен</label>
											<div class="controls">
												<select>
													<option>Любая</option>
													<option>2</option>
													<option>3</option>
													<option>4</option>
													<option>5</option>
												</select>
											</div>
										</div>
									</td>
									<td>
										<span class="help-block">Ваше имя *</span>
										<input type="text">
										<span class="help-block">Контактный телефон *</span>
										<input type="text">
										<span class="help-block">Электронная почта</span>
										<input type="text">
									</td>
								</tr>
								<tr>
									<td colspan="3">
										<span class="pull-left info">* Поля обязательные для заполнения</span>
										<button class="btn btn-primary pull-right">Отправить</button>
									</td>
								</tr>
							</table>
						</form>
					</div>
				</div>
				<div class="tab-pane" id="for-rent">
					<h2>Заявка на сдачу</h2>
					<div class="cute-box-large cute-box">
						<form class="form-horizontal">
							<table>
								<tr>
									<td>
										<div class="control-group">
											<label class="control-label" for="#">Тип объекта</label>
											<div class="controls">
												<select>
													<option>Квартира</option>
													<option>2</option>
													<option>3</option>
													<option>4</option>
													<option>5</option>
												</select>
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" for="#">Город *</label>
											<div class="controls">
												<input type="text" id="#">
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" for="#">Район</label>
											<div class="controls">
												<input type="text" id="#">
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" for="#">Адрес</label>
											<div class="controls">
												<input type="text" id="#">
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" for="inputEmail">Планировка</label>
											<div class="controls">
												<select>
													<option>Любая</option>
													<option>2</option>
													<option>3</option>
													<option>4</option>
													<option>5</option>
												</select>
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" for="#">Цена</label>
											<div class="controls multiple">
												<label for="#">от</label>
												<input type="text" id="#">
												<label for="#">до</label>
												<input type="text" id="#">
											</div>
										</div>
									</td>
									<td>
										<div class="control-group">
											<label class="control-label" for="inputEmail">Количество комнат</label>
											<div class="controls">
												<select>
													<option>1</option>
													<option>2</option>
													<option>3</option>
													<option>4</option>
													<option>5</option>
												</select>
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" for="inputEmail">Площадь</label>
											<div class="controls">
												<select>
													<option>Любая</option>
													<option>2</option>
													<option>3</option>
													<option>4</option>
													<option>5</option>
												</select>
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" for="inputEmail">Этаж</label>
											<div class="controls">
												<select>
													<option>Любая</option>
													<option>2</option>
													<option>3</option>
													<option>4</option>
													<option>5</option>
												</select>
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" for="inputEmail">Тип постройки</label>
											<div class="controls">
												<select>
													<option>Любая</option>
													<option>2</option>
													<option>3</option>
													<option>4</option>
													<option>5</option>
												</select>
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" for="inputEmail">Материал стен</label>
											<div class="controls">
												<select>
													<option>Любая</option>
													<option>2</option>
													<option>3</option>
													<option>4</option>
													<option>5</option>
												</select>
											</div>
										</div>
									</td>
									<td>
										<span class="help-block">Ваше имя *</span>
										<input type="text">
										<span class="help-block">Контактный телефон *</span>
										<input type="text">
										<span class="help-block">Электронная почта</span>
										<input type="text">
									</td>
								</tr>
								<tr>
									<td colspan="3">
										<span class="pull-left info">* Поля обязательные для заполнения</span>
										<button class="btn btn-primary pull-right">Отправить</button>
									</td>
								</tr>
							</table>
						</form>
					</div>
				</div>
			</div>
			
		</div>

	</div>
</div>