<div class="cute-box useful-info">
	<h2>Аналитика и полезная информация</h2>
	<div class="media">
		<div class="pull-left">
			<img class="img-rounded" src="/static/img/site/article.png">
		</div>
		<div class="media-body">
			<a href="#"><h2>Как быстро продать квартиру через интернет</h2></a>
			<p>Как правильно организовать рекламную кампанию продаваемой недвижимости в Интернете? Где размещать объявления, в каком количестве, как часто обновлять информацию? Ответы на эти и другие вопросы важны для быстрой и выгодной продажи квартиры.</p>
		</div>
	</div>
	<div class="media">
		<div class="pull-left">
			<img class="img-rounded" src="/static/img/site/article.png">
		</div>
		<div class="media-body">
			<a href="#"><h2>Как быстро продать квартиру через интернет</h2></a>
			<p>Как правильно организовать рекламную кампанию продаваемой недвижимости в Интернете? Где размещать объявления, в каком количестве, как часто обновлять информацию? Ответы на эти и другие вопросы важны для быстрой и выгодной продажи квартиры.</p>
		</div>
	</div>
	<div class="media">
		<div class="pull-left">
			<img class="img-rounded" src="/static/img/site/article.png">
		</div>
		<div class="media-body">
			<a href="#"><h2>Как быстро продать квартиру через интернет</h2></a>
			<p>Как правильно организовать рекламную кампанию продаваемой недвижимости в Интернете? Где размещать объявления, в каком количестве, как часто обновлять информацию? Ответы на эти и другие вопросы важны для быстрой и выгодной продажи квартиры.</p>
		</div>
	</div>
	{% include "partials/pagination.html" %}
</div>