<div id="viewer">
	<div class="large_image_wrap">
		<div class="large_image_holder loading"> </div>
	</div>
	<div id="thumb_wrapper">
		<a href="javascript:void(0);" class="previous"><img src="/static/img/blank.gif" alt="backward" /></a>
		<div class="thumb_holder">
			<ul class="thumbs">
				<li class="section">
					<ul class="sub_section">
						<li class="first">
							<a href="/static/img/examples/image-1.jpg" class="one current">
								<img src="/static/img/examples/thumb-1.jpg" />
							</a>
						</li>
						<li class="first">
							<a href="/static/img/examples/image-2.jpg" class="one current">
								<img src="/static/img/examples/thumb-2.jpg" />
							</a>
						</li>
						<li class="first">
							<a href="/static/img/examples/image-3.jpg" class="one current">
								<img src="/static/img/examples/thumb-3.jpg" />
							</a>
						</li>
						<li class="first">
							<a href="/static/img/examples/image-4.jpg" class="one current">
								<img src="/static/img/examples/thumb-4.jpg" />
							</a>
						</li>
					</ul>
				</li>
				<li class="section">
					<ul class="sub_section">
						<li class="first">
							<a href="/static/img/examples/image-5.jpg" class="one current">
								<img src="/static/img/examples/thumb-5.jpg" />
							</a>
						</li>
						<li class="first">
							<a href="/static/img/examples/image-6.jpg" class="one current">
								<img src="/static/img/examples/thumb-6.jpg" />
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<a href="javascript:void(0);" class="next"><img src="/static/img/blank.gif" alt="foreward" /></a> 
	</div>
</div>