// /**
//  * BxSlider v4.0 - Fully loaded, responsive content slider
//  * http://bxslider.com
//  *
//  * Written by: Steven Wanderski, 2012
//  * http://stevenwanderski.com
//  * (while drinking Belgian ales and listening to jazz)
//  *
//  * CEO and founder of bxCreative, LTD
//  * http://bxcreative.com

// /** RESET AND LAYOUT
//  *===================================
.slider
	background: white
	padding: 5px 6px
	margin-top: 30px
	width: 993px
	height: 334px
.slider-shadow
	background: url(../img/site/slider.png) no-repeat
.bx-wrapper
	position: relative
	padding: 0
	*zoom: 1
	.bxslider
		margin: 0 0 0 2px
		li
			img
				width: 715px
				height: 328px
			.bxslider-content
				display: none
				text-align: right
				position: absolute
				right: 14px
				top: 0
				background: url(../img/site/slider-content.png) no-repeat
				height: 328px
				width: 449px
				div
					padding-left: 195px
					h1
						font-size: 29px
						font-style: italic
						color: #2e6397
					.blue-arrow
						margin-right: 10px
						&:after
							top: 6px
	.bx-controls
		display: none
	img
		width: 100%
		display: block
	.bx-viewport
		border: solid #fff 3px
		left: -5px
		background: #fff
	.bx-pager, .bx-controls-auto
		position: absolute
		bottom: -30px
		width: 100%
	.bx-loading
		min-height: 50px
		background: url(../img/bx_loader.gif) center center no-repeat white
		height: 100%
		width: 100%
		position: absolute
		top: 0
		left: 0
		z-index: 10000
	.bx-pager
		text-align: right
		font-size: .85em
		font-family: Arial
		font-weight: bold
		position: absolute
		bottom: 20px
		right: 11px
		z-index: 50
		.bx-pager-item
			display: inline-block
			*zoom: 1
			*display: inline
	.bx-controls-auto .bx-controls-auto-item
		display: inline-block
		*zoom: 1
		*display: inline
	.bx-pager.bx-default-pager a
		display: block
		margin: 0 3px
		outline: 0
		+border-radius(44px)
		padding: 1px 5px
		color: #618bb4
		text-decoration: none
		&:hover, &.active
			background: #618bb4
			color: #fff
			text-decoration: none
	.bx-prev
		left: -3px
		background: url(../img/sprites/controls.png) no-repeat -33px 0px
	.bx-next
		right: 276px
		background: url(../img/sprites/controls.png) no-repeat 0px 0px
	.bx-controls-direction a
		position: absolute
		top: 45%
		margin-top: -16px
		outline: 0
		width: 34px
		height: 68px
		text-indent: -9999px
		z-index: 999
		&.disabled
			display: none
	.bx-controls-auto
		text-align: center
		.bx-start
			display: block
			text-indent: -9999px
			width: 10px
			height: 11px
			outline: 0
			background: url(../img/controls.png) -86px -11px no-repeat
			margin: 0 3px
			&:hover, &.active
				background-position: -86px 0
		.bx-stop
			display: block
			text-indent: -9999px
			width: 9px
			height: 11px
			outline: 0
			background: url(../img/controls.png) -86px -44px no-repeat
			margin: 0 3px
			&:hover, &.active
				background-position: -86px -33px
	.bx-controls.bx-has-controls-auto.bx-has-pager
		.bx-pager
			text-align: left
			width: 80%
		.bx-controls-auto
			right: 0
			width: 35px
	.bx-caption
		position: absolute
		bottom: 0
		left: 0
		background: #666\9
		background: rgba(80, 80, 80, 0.75)
		width: 100%
		span
			color: #fff
			font-family: Arial
			display: block
			font-size: .85em
			padding: 10px

// /** THEME
//  *===================================

// /* LOADER

// /* PAGER

// /* DIRECTION CONTROLS (NEXT / PREV)

// /* AUTO CONTROLS (START / STOP)

// /* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT

// /* IMAGE CAPTIONS