.calculator
	margin-top: 20px
	margin-bottom: 20px
.big-btn-calc
	width: 48.89%
	padding: 7px 12px
	h1
		text-transform: uppercase
		display: inline-block
		font-size: 17px
		line-height: 20px
		font-family: "Tahoma", "Geneva", sans-serif
		border-bottom: 1px dashed #fff
	img
		display: inline-block
	.btn-calc-ico
		height: 36px
		width: 24px
		background: url(../img/sprites/ribbon.png) -68px 0px no-repeat
		padding-right: 9px
	.btn-calc-arrow
		height: 7px
		width: 11px
		background: url(../img/sprites/calc.png) 0px -7px no-repeat
.big-btn-calc.active
	.btn-calc-arrow
		background: url(../img/sprites/calc.png) 0px 0px no-repeat
.useful-info
	padding-top: 0px
	h2
		line-height: 15px
	.media
		margin-top: 20px
		.pull-left
			margin-right: 31px
			img
				max-width: 120px
		.media-body
			border-bottom: 1px solid #d1d2d2
			padding-bottom: 14px
			h2
				line-height: 10px
			p
				margin-top: 30px
		&:nth-last-child(2) // мистический момент работы вебкита, возможно баг будет исправлен.
			.media-body
				border-bottom: none
.questions
	margin-top: 20px
	.question
		padding: 9px
		p
			font-size: 17px
			line-height: 18px
	.answer
		background: #fff
		border: 1px solid #d1d2d2
		padding: 6px 20px 25px 20px
		margin-left: 9px
		position: relative
		margin-bottom: 10px
		&:before
			content: ''
			position: absolute
			top: -17px
			left: 22px
			height: 18px
			width: 29px
			background: url(../img/site/answer.png) no-repeat
		p
			margin: 0
			line-height: 16px
	.blue-arrow
		margin-right: 25px