.calc-form
	.form-horizontal
		.control-group
			margin-bottom: 5px
			.control-label
				width: 189px
			.controls
				margin-left: 189px
				select
					width: 303px
			.multiple
				input
					width: 109px
				select
					width: 176px
			.simetric
				select
					width: 150px 
		table
			border-bottom: 1px solid #e2e3e6
			width: 100%
			.control-group
				margin-bottom: 5px
				.control-label
					width: 147px
				.controls
					margin-left: 147px
			td
				padding: 5px 0px
				.multiple
					input
						width: 90px !important 
					select
						width: 93px !important 
				.controls
					input
						width: 188px
				.multiple-reverse
					input
						width: 73px !important 
					select
						width: 110px !important 
		

