.cute-box
	padding: 15px
	background: #fff
	border-top: 2px solid $blue
	position: relative
	min-height: 30px
	z-index: 100
	&:after
		position: absolute
		content: ''
		bottom: -5px
		left: 0px
		height: 5px
		width: 665px
		background: url(../img/site/shadow2.png) 0 -9px no-repeat
.cute-box-large
	&:after
		width: 989px
		background: url(../img/site/shadow.png) 0 -9px no-repeat
.cute-box-else
	padding: 10px 15px
	background: #fff
	border-top: 1px solid #e2e4e6
	margin-top: 10px
	min-height: 30px