.empl-carrd-page
	.response-forms
		.write-us, .call-back
			display: inline-block
			position: relative
		.write-us
			margin-right: 52px
			margin-left: 32px
	.empl-carrd
		border-bottom: 1px solid #d1d2d2
		padding-bottom: 15px
		.pull-left
			margin-right: 14px
		.blue-cloud
			background: #3a6fa2
			color: #fff
			position: relative
			padding: 2px 15px 18px 15px
			min-height: 49px
			+border-radius(4px)
			margin-left: 5px
			margin-bottom: 7px
			&:before
				content: ''
				position: absolute
				height: 10px
				width: 10px
				top: 43%
				left: -5px
				background: url(../img/site/blue-cloud.png) no-repeat
			h2
				line-height: 18px
	table
		margin-top: 20px
		width: 100%
		td
			padding: 20px 0
			&:nth-child(2)
				padding-left: 20px
		.media
			.pull-left
				margin-right: 20px
			.media-body
				.media-heading
					color: $light-blue
					font-size: 18px
				p
					font-size: 12px
					margin: 0
				.object-price
					font-size: 12px
					position: relative
					margin-top: 10px
					display: inline-block
					&:after
						content: ''
						position: absolute
						top: 5px
						right: -15px 
						height: 12px
						width: 10px
						background: url(../img/site/rubl.png) no-repeat
.empl-list
	.cute-box
		padding: 12px
		table
			margin-top: 0
			td
				padding-top: 15px
				&:nth-child(2)
					padding-left: 30px
				.media
					border-bottom: 1px solid #d1d2d2
					min-height: 130px
					.media-body
						p
							line-height: 17px
							margin: 0
					.pull-left
						margin-right: 11px
			tr
				
				&:nth-last-child(1)
					td
						.media
							border-bottom: none
							min-height: 95px
				&:nth-child(1)
					td
						padding-top: 0px

