.footer-divider
	height: 4px
	border-top: 1px solid #d1d2d2
.footer-content
	background: #fff
	padding-top: 34px
	padding-bottom: 19px
	.container
		position: relative
		.footer-img
			position: absolute
			height: 96px
			width: 164px
			background: url(../img/site/footer-img.png) no-repeat
			right: -88px
			top: -122px
			@media (max-width: 1023px)
				right: 0 !important
.upn, .rgp
	display: inline-block
	vertical-align: top
.upn
	margin-right: 10px
	height: 34px 
	width: 40px
	background: url(../img/sprites/upn.png) 0px 0px no-repeat
	&:hover
		background: url(../img/sprites/upn.png) 0px -38px no-repeat

.rgp
	height: 26px 
	width: 26px
	background: url(../img/sprites/rgp.png) 0px 0px no-repeat
	&:hover
		background: url(../img/sprites/rgp.png) 0px -27px no-repeat
.footer-contacts
	color: #747b8a
	font-size: 12px
	line-height: 17px
.footer-buttons
	margin-left: 27px
	.site-map, .faq
		display: block
		line-height: 17px
		text-decoration: none
		font-size: 11px
		font-style: italic
		position: relative
		margin-bottom: 14px
		&:before
			content: ""
			position: absolute
			left: -33px
			top: 2px
	.site-map
		&:before
			background: url(../img/sprites/small-icons.png) -18px -18px no-repeat
			height: 16px
			width: 16px
		&:hover:before
			background: url(../img/sprites/small-icons.png) -18px 0px no-repeat
	.faq
		&:before
			background: url(../img/sprites/small-icons.png) 0px 0px no-repeat
			height: 16px
			width: 16px
		&:hover:before
			background: url(../img/sprites/small-icons.png) 0px -18px no-repeat
.zavod
	p
		font-size: 12px
		color: #747b8a
		margin: 0
	.zavod-logo
		display: block
		height: 27px
		width: 103px
		text-decoration: none
		background: url(../img/sprites/zavod.png) 0px 0px no-repeat
		&:hover
			background: url(../img/sprites/zavod.png) 0px -30px no-repeat

			
