header
	background-color: #2d76ac
	+filter-gradient(#2d76ac, #0a3875, vertical)
	+background-image(linear-gradient(top, #2d76ac 0%, #286ea5 18%, #093c79 82%, #043371 98%, #0a3875 100%))
	margin-bottom: 24px
	min-width: 970px
	nav
		vertical-align: middle
		.nav-home
			margin-right: 0px
			height: 13px
			width: 13px
			background: url(../img/sprites/small-icons.png) -76px -15px no-repeat
			padding: 0
		a
			color: $white
			padding: 15px 2px 18px 15px
			display: inline-block
			font-size: 14px
			position: relative
			font-family: "Georgia", serif
			&:hover
				color: #fff
		a.nav-divider
			&:after
				position: absolute
				content: ''
				top: 15px
				right: -14px
				height: 24px 
				width: 11px
				background: url(../img/site/nav-divider.png) no-repeat
.header-phones
	p
		font-style: italic
		color: #4e545e
		font-size: 12px
	.media
		margin-left: 18px
		.pull-left
			margin-right: -4px
			div
				background: url(../img/sprites/large-icons.png) -60px -39px no-repeat
				height: 39px
				width: 39px
		.media-body
			.media
				.pull-left
					margin-right: 2px
					p
						font-size: 14px
				.media-body
					p
						font-size: 24px
						font-family: "Georgia",serif
.search-form
	margin-top: 6px
	margin-bottom: 7px
	input
		width: 209px
	button
		padding: 6px 9px
		border: 1px solid $input !important
		background: #fff
		span
			background: url(../img/sprites/small-icons.png) -77px 0px no-repeat
			height: 16px
			width: 16px
			display: block
.response-forms
	position: relative
	.write-us
		display: block
		margin-top: 7px
		margin-bottom: 9px
		&:before
			background: url(../img/sprites/small-icons.png) -39px 0px no-repeat
			height: 13px
			width: 16px
		&:hover
			&:before
				background: url(../img/sprites/small-icons.png) -60px 0px no-repeat
	.call-back
		display: inline-block
		&:before
			background: url(../img/sprites/small-icons.png) -39px -12px no-repeat
			height: 19px
			width: 16px
		&:hover
			&:before
				background: url(../img/sprites/small-icons.png) -60px -12px no-repeat
	.write-us, .call-back
		border-bottom: 1px dashed $blue
		line-height: 16px
		text-decoration: none
		font-size: 11px
		font-style: italic
		position: relative
		&:hover
			border-bottom: 1px solid transparent
			text-decoration: none
		&:before
			content: ""
			position: absolute
			left: -38px
			top: 2px
.call-back-form
	top: 54px