.main-page-objects
	margin-top: 44px
	margin-bottom: 33px
	.ribbon
		margin-top: -35px
		h1
			&:before
				background: url(../img/sprites/ribbon.png) 0px 0px no-repeat
	.pull-right
		margin-right: 18px
		margin-top: -16px
	.cute-box
		padding: 0px 15px 24px 15px
		table
			margin-top: 26px
			width: 100%
			td
				padding: 14px 0
				&:nth-child(2)
					border-left: 1px solid #d1d2d2
					padding-left: 33px
		.media
			.pull-left
				margin-right: 20px
			.media-body
				.media-heading
					color: $light-blue
					font-size: 18px
				p
					font-size: 12px
					margin: 0
				.object-price
					font-size: 12px
					position: relative
					margin-top: 10px
					display: inline-block
					&:after
						content: ''
						position: absolute
						top: 5px
						right: -15px 
						height: 12px
						width: 10px
						background: url(../img/site/rubl.png) no-repeat
.main-page-services
	p
		line-height: 16px
		margin-bottom: 25px
	.ribbon
		margin-bottom: 22px
		h1
			&:before
				background: url(../img/sprites/ribbon.png) -33px 0px no-repeat
	.row
		margin-bottom: 16px
.fakts
	border: 3px solid #fff
	+border-radius(10px)
	background: #f0f1f1
	margin-bottom: 15px
	margin-top: 40px
	.fakts-header
		background: #8393a2
		color: #fff
		font-size: 16px
		padding-left: 60px
		+border-radius(5px 5px 0 0)
		position: relative
		padding-top: 3px
		padding-bottom: 3px
		.fakts-ico
			position: absolute
			background: url(../img/sprites/large-icons.png) 0px 0px no-repeat
			height: 74px
			width: 59px
			left: -2px
			top: -31px
	.fakts-body
		background: #f0f1f1
		+border-radius(0 0 5px 5px)
		padding-bottom: 11px
	.media
		margin-top: 6px
		margin-left: 18px
		.media-body
			font-size: 12px
			line-height: 18px
.main-page-info
	.main-page-info-article
		border-bottom: 1px solid #d1d2d2
		padding: 16px 10px 6px 10px
		h3
			font-size: 16px
			margin: 0
		p
			line-height: 16px
			margin-top: 5px
			font-size: 12px
	.pull-right
		margin-top: 13px
		margin-right: 25px