.object-search
	margin: 0
	.form-inline
		padding: 4px 0px
.object-search-head
	.ribbon-arrow-small
		position: relative
		display: inline-block
		margin-right: 20px
		h1
			padding-left: 40px
			line-height: 26px
		&:before
			left: 20px
			top: 6px
			position: absolute
			content: ''
			height: 34px
			width: 34px
			background: url(../img/sprites/ribbon.png) 0px 0px no-repeat
	.input-append
		display: inline-block
		vertical-align: top
		margin-right: 10px
		input
			width: 587px
	.btn-gray
		display: inline-block
		vertical-align: top
		margin-top: 6px
.object-search-body
	margin-top: 0
	padding: 15px
	label
		font-size: 14px
		font-weight: bold
		margin-right: 15px
		line-height: 16px
	select
		width: 207px
		margin-right: 33px
	a
		margin-right: 18px
	.short-spaces
		select, input
			margin-right: 7px
	.sort
		span
			display: inline-block
			border-bottom: 1px dashed $light-blue
			position: relative
			&:hover
				border-bottom: 1px dashed transparent
			&:after
				content: ''
				height: 10px
				width: 10px
				position: absolute
				top: 9px
				right: -15px
				background: url(../img/site/sort.png) 0px 0px no-repeat

	.advansed-search
		span
			display: inline-block
			border-bottom: 1px dashed $light-blue
			position: relative
			&:hover
				border-bottom: 1px dashed transparent
			&:after
				content: ''
				height: 10px
				width: 10px
				position: absolute
				top: 9px
				right: -15px
				background: url(../img/sprites/micro-icons.png) 0px 0px no-repeat
.form-divider
	height: 1px
	width: 96%
	border-bottom: 1px solid #d1d2d2
	margin-top: 4px
	margin-bottom: 4px
.form-divider-full
	width: 100%
	border-bottom: 1px solid #d1d2d2
	margin-top: 4px
	margin-bottom: 4px
	height: 1px
.advansed-search-box
	margin-top: 15px
	.micro-select
		width: 61px
	.span1
		width: 77px
	.span2
		width: 113px
	.short-spaces
		border-bottom: 1px solid #d1d2d2
		margin-bottom: 4px
		padding-bottom: 6px
		select, input
			margin-right: 7px
	.row-fluid
		margin-top: 10px
	.inherit
		font-weight: inherit
	fieldset
		button
			margin-right: 15px
		textarea
			margin-top: 15px
			resize: none
		.span1
			margin-right: 15px
		label
			margin-right: 13px
		select
			margin-right: 15px
		.form-inline
			label
				&:nth-child(1)
					min-width: 68px
			.checkbox-inline
				min-width: 130px !important
	.clear-form
		margin-right: 15px
.search-results
	.media
		.media-body
			.ojbect-properties
				margin-top: 3px
				p
					color: #969ca6
					margin: 0
					line-height: 16px
					font-size: 11px
			.object-price
				font-size: 18px
				position: relative
				margin-top: 5px
				display: inline-block
				font-weight: bold
				&:after
					content: ''
					position: absolute
					top: 1px
					right: -18px 
					height: 18px
					width: 10px
					background: url(../img/site/rubl-big-white.png) no-repeat
			.media-heading
				font-size: 18px
				line-height: 18px
			p
				margin: 0
				line-height: 13px
		.pull-left
			margin-right: 18px
			img
				width: 114px
				margin-bottom: 12px
			button
				span
					display: inline-block
					border-bottom: 1px dashed #fff
	table
		width: 100%
		tr
			border-bottom: 1px solid #d1d2d2
			&:nth-last-child(1)
				border-bottom: 0px solid transparent
		td
			text-align: left
			vertical-align: top
			padding-top: 17px
			padding-bottom: 29px
.reserved-objects
	position: fixed
	right: 0
	bottom: 0
	background: #ebebeb
	+border-radius(4px 0 0 0)
	z-index: 9999
	+box-shadow(-2px 0px 14px -2px #c9c9c9)
	min-width: 160px
	min-height: 30px
	.reserved-objects-content
		padding: 18px
	.reserved-objects-toggle-fix
		position: relative
		height: 0
		width: 0
		.reserved-objects-toggle
			position: absolute
			top: -32px
			left: 25px
			padding: 6px 15px
			+border-radius(4px 4px 0 0)
			a
				border-bottom: 1px dashed #fff
				color: #fff
				display: inline
				&:hover
					border-bottom: 1px solid transparent
					text-decoration: none
			span
				color: #fff
				display: inline-block
				padding-left: 4px
	.media
		overflow: visible
		float: left
		margin-top: 0
		margin-bottom: 20px
		.pull-left
			padding: 3px
			width: 86px
			height: 58px
			margin-right: 9px
			+box-sizing(border-box)
			position: relative
			.object-remove
				position: absolute
				display: block
				height: 17px
				width: 17px
				top: -4px
				right: -11px
				background: url(../img/sprites/small-icons.png) -95px -17px no-repeat
			img
				border: 3px solid #fff
		.media-body
			padding-top: 10px
			padding-right: 15px
			.reserved-object-price
				position: relative
				display: inline-block
				&:after
					content: ''
					position: absolute
					top: 7px
					right: -11px
					height: 10px
					width: 7px
					background: url(../img/site/rubl-reserved.png) no-repeat
.reserved-objects.active
	.reserved-objects-content
		display: none
