.object-card-page-nav
	margin-top: 15px
	text-align: center
	.pull-left
		margin-left: 17px
		a
			position: relative
			&:before
				content: '←'
				position: absolute
				top: -3px
				left: -17px
	.pull-right
		margin-right: 17px
		a
			position: relative
			&:before
				content: '→'
				position: absolute
				top: -3px
				right: -17px
.object-card-page
	position: relative
	.object-card-price
		position: absolute
		height: 53px
		width: 204px
		background: #dcdee1
		top: 0
		right: 0
		h1
			padding-left: 18px
			padding-right: 5px
			display: inline-block
			line-height: 52px
			margin: 0
		img
			margin-top: -13px
			display: inline-block
			padding-right: 5px
			vertical-align: middle
	.table-striped
		width: 49.5%
		td
			border-top: 0px solid transparent
	h1
		margin-top: -5px
		line-height: 30px
	h2
		line-height: 28px
	.obj-addr
		margin-top: -11px
	.social-buttons
		margin-bottom: 23px
	.obj-propetries
		margin-bottom: 23px
		line-height: 17px
	.b-group
		margin-bottom: 26px
	.obj-contacts
		line-height: 17px
	.extend-opts
		margin-bottom: 20px
		p
			font-size: 13px
			line-height: 16px
			margin: 0