.pagination-box
	text-align: center
	padding-top: 26px
	border-top: 1px solid #d1d2d2
	ul
		list-style: none
		display: inline-block
		text-align: center
		li
			float: left
			a
				font-size: 12px
				margin-right: 14.5px
		.active
			a
				font-size: 18px
				color: #272e3f
				cursor: default
				&:hover
					text-decoration: none
		.prev-page
			position: relative
			margin-right: 11px
			a
				&:before
					content: '←'
					position: absolute
					top: 0px
					left: -19px
		.next-page
			a
				position: relative
				margin-left: 11px
				&:before
					content: '→'
					position: absolute
					top: -3px
					right: -19px