.request
	display: inline-block
	list-style: none
	vertical-align: middle
	li
		float: left
		margin-right: 15px
		font-family: "Tahoma", "Geneva", sans-serif
		span
			color: #4e545e
			font-size: 14px
		a
			font-size: 14px
			text-transform: uppercase
			text-decoration: underline
			&:hover
				text-decoration: none
	.active
		a
			color: #4e545e
			text-decoration: none
			&:hover
				text-decoration: none
.request-page
	margin-top: 10px
	.cute-box-large
		overflow-y: hidden
