.ribbon
	background: url(../img/site/ribbon.png) no-repeat
	text-align: center
	height: 53px
	width: 312px
	margin: 0 auto
	text-transform: uppercase
	h1
		position: relative
		color: #e0e1e1
		font-size: 24px
		line-height: 46px
		margin: 0
		&:before
			left: 43px
			top: 6px
			position: absolute
			content: ''
			height: 34px
			width: 34px
.ribbon-large
	background: url(../img/site/ribbon-large.png) no-repeat 100%
	text-align: center
	height: 74px
	width: 257px
	margin: 0 auto
	text-transform: uppercase
	+background-size(100% auto)
	h1
		position: relative
		color: #e0e1e1
		font-size: 18px
		line-height: 23px
		padding-top: 11px
.ribbon-med
	background: url(../img/site/ribbon-med.png) no-repeat
	text-align: center
	height: 55px
	width: 257px
	+background-size(100% auto)
	margin: 0 auto
	text-transform: uppercase
	h1
		position: relative
		color: #e0e1e1
		font-size: 18px
		line-height: 40px

.ribbon-arrow
	background: url(../img/site/ribbon-arrow.png) no-repeat
	height: 64px
	width: 417px
	text-transform: uppercase
	padding-left: 21px
	h1
		position: relative
		color: #e0e1e1
		font-size: 24px
		line-height: 43px
.ribbon-arrow-med
	background: url(../img/site/ribbon-arrow-med.png) no-repeat
	height: 64px
	width: 272px
	text-transform: uppercase
	padding-left: 21px
	margin-left: 18px
	h1
		position: relative
		color: #e0e1e1
		font-size: 24px
		line-height: 46px
		
.ribbon-arrow-small
	background: url(../img/site/ribbon-arrow-small.png) no-repeat
	height: 64px
	width: 217px
	text-transform: uppercase
	padding-left: 21px
	h1
		position: relative
		color: #e0e1e1
		font-size: 24px
		line-height: 46px
.arrow-small
	background: url(../img/site/arrow-small.png) no-repeat
	height: 46px
	width: 217px
	text-transform: uppercase
	padding-left: 21px
	display: inline-block
	h1
		position: relative
		color: #e0e1e1
		font-size: 24px
		line-height: 28px