// http://jamesvec.com/timer-gallery-v2-ajaxed/
#thumb_wrapper
	padding: 18px 0px 12px
	width: 444px
	float: left
	display: inline
	clear: both
#viewer
	img
		border: 0
	ul
		list-style-type: none
		margin: 0
		padding: 0
	width: 100%
	.image_frame
		position: relative
		width: 470px
		float: left
		display: inline
	.large_image_wrap
		width: 444px
		height: 325px
		float: left
		display: inline
		position: relative
	.large_image_holder
		width: 444px
		height: 325px
		float: left
		display: inline
		position: absolute
		z-index: 5
		img
			height: 325px
			width: 444px
			+border-radius(6px)
	.loading
		background: url(../img/ajax-loader.gif) center no-repeat
	.thumb_holder
		width: 419px
		height: 60px
		float: left
		display: inline
		position: relative
		overflow: hidden
	.thumbs
		float: left
		display: inline
		position: absolute
		left: 0
		top: 0
	.sub_section 
		li 
			float: left
			margin: 0px 7px
			background-color: #000
			img
				width: 84px
				height: 54px
				border: 3px solid #dcdee1
				&:hover
					border: 3px solid #3a6fa2
	.previous
		float: left
		display: inline
		width: 13px
		height: 60px
		text-align: center
		img
			background: url(../img/viewer/viewer.png) 0px 0px no-repeat
			&:hover
				background: url(../img/viewer/viewer.png) 0px -14px no-repeat
	.previous img, .next img 
		margin-top: 21px
		width: 9px
		height: 14px
	.next
		// float: left
		display: inline
		width: 13px
		height: 60px
		text-align: center
		img
			background: url(../img/viewer/viewer.png) -9px 0px no-repeat
			&:hover
				background: url(../img/viewer/viewer.png) -9px -14px no-repeat
	.prev_img, .next_img 
		width: 70px
		float: left
		display: inline
		margin: 50px 0
	.desc
		position: absolute
		bottom: 0
		padding: 10px 20px 20px
		z-index: 9
		width: 740px
	.desc_holder
		color: #fff
	.section, .sub_section 
		float: left
		display: inline
	.section
		width: 647px
	.one
		display: block