@import compass
@import sticky-footer
$main: #272e3f
$blue: #175080
$light-blue: #618cb5
$gray: #d1d2d2
$white: #fefefe
$input: #f1f1f1
$input-focus: #d5d7da
@import header
@import bxslider
@import style-headers
@import cute-box
@import main-page
@import footer
@import request-page
@import viewer
@import calc-form
@import viewer
@import object-card
@import empl-card
@import calc
@import pagination
@import obj-search
//
// font-family: "Georgia",serif
// font-family: "Tahoma", "Geneva", sans-serif
body
	background: #f6f6f6
	color: $main
	font-family: "Tahoma", "Geneva", sans-serif
	overflow-x: hidden
article
	margin-bottom: 70px
a
	color: $light-blue
	text-decoration: none
	&:focus
		outline: none
	&:hover
		text-decoration: underline
.footer-divider, .footer-content
	min-width: 1005px
h1, h2, h3
	font-family: "Georgia",serif
h1
	font-size: 30px
	line-height: 36px
h3
	font-size: 16px
	line-height: 22px
h2
	font-size: 18px
	line-height: 24px
p
	font-size: 12px
big
	font-size: 18px
.blue-arrow
	position: relative
	font-style: italic
	color: $blue
	font-size: 11px
	&:after
		position: absolute
		content: ''
		top: 8px
		right: -11px 
		background: url(../img/sprites/micro-icons.png) -22px 0px no-repeat
		height: 6px
		width: 3px
input, select, textarea
	border: 1px solid $input !important
	// border: 1px solid red !important
	color: #8e95a0
select
	option
		color: #8e95a0
		font-size: 12px
.form-horizontal
	.control-group
		margin-bottom: 10px
	.control-label
		text-align: left
		width: 115px
	label
		color: #8e95a0
		font-size: 12px
	.controls
		margin-left: 120px
	table
		width: 100%
		td
			padding: 0px 12px
			vertical-align: top
		.help-block
			color: #4e555f
			font-weight: bold
			font-size: 14px
		.info
			color: #8e95a0
			font-size: 11px
.multiple
	label
		display: inline-block
		margin-right: 10px
		margin-left: 10px
	input
		display: inline-block
		width: 55px
	select
		width: 55px
.btn-primary
	background-color: hsl(201, 100%, 18%) !important
	background-repeat: repeat-x
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2d75ab", endColorstr="#003b5b")
	background-image: -khtml-gradient(linear, left top, left bottom, from(#2d75ab), to(#073875))
	background-image: -moz-linear-gradient(top, #2d75ab, #073875)
	background-image: -ms-linear-gradient(top, #2d75ab, #073875)
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2d75ab), color-stop(100%, #073875))
	background-image: -webkit-linear-gradient(top, #2d75ab, #073875)
	background-image: -o-linear-gradient(top, #2d75ab, #073875)
	background-image: linear-gradient(#2d75ab, #073875)
	border-color: #003b5b #003b5b hsl(201, 100%, 13%)
	color: #fff !important
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33)
	-webkit-font-smoothing: antialiased
.simple-list
	list-style: none
	margin: 0 0 10px 20px
	li
		position: relative
		line-height: 19px
		&:before
			content: ''
			position: absolute
			top: 9px
			left: -17px
			height: 6px
			width: 3px
			background: url(../img/sprites/micro-icons.png) -22px 0px no-repeat
		a
			font-size: 12px
			line-height: 0px
.list-bordered
	background: #fff
	border-top: 1px solid #d1d2d2
	border-bottom: 1px solid #d1d2d2
	padding: 0 0 3px 20px
	margin: 0
	li
		border-bottom: 1px solid #d1d2d2
		line-height: 29px
		&:nth-last-child(1)
			border-bottom: 0px solid transparent
		&:before
			left: -12px
			top: 11px

.breadcumbs
	list-style: none
	margin-top: 30px
	margin-left: 0px
	margin-bottom: 8px
	li
		float: left
		font-family: "Tahoma", "Geneva", sans-serif
		a
			color: #8e95a0
			font-size: 11px
		.divider
			color: #8e95a0
			margin-left: 3px
			margin-right: 6px
	.active
		font-size: 12px
		color: #8e95a0
.article
	font-family: "Tahoma", "Geneva", sans-serif
	border-bottom: 1px solid #d1d2d2
	margin-left: -12px
	margin-bottom: 20px
	h2
		margin-top: -3px
		margin-bottom: 15px
	p
		margin-bottom: 17px
.social-buttons
	> .fb-like,
	> table,
	> iframe
		display: inline-block
		vertical-align: top
		margin: 0 7px 0 0
	#fb-root
		display: inline
.contacts
	h1
		line-height: 45px
	.contacts-header
		.pull-right
			margin-top: 21px
		.btn-call-back
			margin-left: 4px
			span
				position: relative
				margin-left: 26px
				margin-right: 2px
				font-size: 12px
				&:before
					position: absolute
					content: ''
					left: -30px
					top: -2px
					background: url(../img/sprites/small-icons.png) -39px -12px no-repeat
					height: 19px
					width: 16px
		.btn-write-us
			span
				position: relative
				margin-left: 26px
				margin-right: 2px
				font-size: 12px
				&:before
					position: absolute
					content: ''
					left: -30px
					top: 0px
					background: url(../img/sprites/small-icons.png) -39px 0px no-repeat
					height: 13px
					width: 16px
	.cute-box-else
		margin-top: 0
		padding: 0px 12px 20px 12px
		h2
			line-height: 18px
		.media
			border-bottom: 1px solid #d1d2d2
			&:nth-last-child(1)
				border-bottom: none
	.cute-box
		padding: 5px 15px 60px 15px
		.pull-left
			p
				margin: 0
				line-height: 18px
				margin-top: 4px
		.map
			margin-top: 27px
.projects-page
	.cute-box
		padding: 2px 8px 40px 8px
	table
		width: 100%
		td
			padding: 5px 8px 0px 8px
			vertical-align: top
			img
				width: 100%
				border: 1px solid #d1d2d2
				margin-top: 5px
				margin-bottom: 5px
			p
				line-height: 16px
				margin-bottom: 17px
.services-page
	.ribbon-arrow-med
		h1
			position: relative
			margin-left: 36px
			&:before
				left: -44px
				top: 6px
				position: absolute
				content: ''
				height: 34px
				width: 34px
				background: url(../img/sprites/ribbon.png) -33px 0px no-repeat
	.cute-box
		padding: 3px 14px
		.simple-list
			li
				margin-bottom: 18px
		p
			margin-bottom: 18px
.modal
	background: #8393a2
	z-index: 3000
	&.modal-small
		width: 400px
		margin-left: -200px
	.modal-body
		max-height: none
	.close
		+opacity(1)
	.control-group
		.control-label
			text-align: left
			color: #f6f6f6
			font-size: 13px
			line-height: 16px
		.controls
			input, textarea
				width: 235px
	p
		color: #fff
		font-size: 14px
		font-weight: bold
.modal-large
	width: 960px
	margin-left: -480px
.modal-small-select-area
	.modal-select
		list-style: none
		margin: 0
		li
			position: relative
			a
				display: inline-block
				color: #f6f6f6
				border-bottom: 1px dashed #f6f6f6
				margin-bottom: 14px
				padding-right: 2px
				&:hover
					text-decoration: none
					border-bottom: 1px solid transparent
			span
				display: inline-block
				color: #a3b6c9
		.active
			&:after
				content: ""
				position: absolute
				height: 7px
				width: 4px
				left: 127px
				top: 7px
				background: url(../img/site/modal-active.png) no-repeat
			a
				border-bottom: 1px solid transparent
	.controls
		margin-left: 140px
	.control-label
		width: 134px
			
	.tab-content
		height: 161px
		max-height: 161px
		background: #a0acb7
		padding-left: 9px
		.checkbox
			margin-bottom: 0
			color: #f6f6f6 !important
			input
				width: 20px
				

