@charset "IBM437";
/* line 2, ../../assets/sass/_sticky-footer.sass */
html, body {
  height: 100%;
  position: relative;
}

/* line 5, ../../assets/sass/_sticky-footer.sass */
footer {
  height: 159px;
}

/* line 8, ../../assets/sass/_sticky-footer.sass */
#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -159px;
}

/* line 13, ../../assets/sass/_sticky-footer.sass */
.push {
  height: 189px;
}

/* line 1, ../../assets/sass/_header.sass */
header {
  background-color: #2d76ac;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF2D76AC', endColorstr='#FF0A3875');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2d76ac), color-stop(18%, #286ea5), color-stop(82%, #093c79), color-stop(98%, #043371), color-stop(100%, #0a3875));
  background-image: -webkit-linear-gradient(top, #2d76ac 0%, #286ea5 18%, #093c79 82%, #043371 98%, #0a3875 100%);
  background-image: -moz-linear-gradient(top, #2d76ac 0%, #286ea5 18%, #093c79 82%, #043371 98%, #0a3875 100%);
  background-image: -o-linear-gradient(top, #2d76ac 0%, #286ea5 18%, #093c79 82%, #043371 98%, #0a3875 100%);
  background-image: linear-gradient(top, #2d76ac 0%, #286ea5 18%, #093c79 82%, #043371 98%, #0a3875 100%);
  margin-bottom: 24px;
  min-width: 970px;
}
/* line 7, ../../assets/sass/_header.sass */
header nav {
  vertical-align: middle;
}
/* line 9, ../../assets/sass/_header.sass */
header nav .nav-home {
  margin-right: 0px;
  height: 13px;
  width: 13px;
  background: url(../img/sprites/small-icons.png) -76px -15px no-repeat;
  padding: 0;
}
/* line 15, ../../assets/sass/_header.sass */
header nav a {
  color: #fefefe;
  padding: 15px 2px 18px 15px;
  display: inline-block;
  font-size: 14px;
  position: relative;
  font-family: "Georgia", serif;
}
/* line 22, ../../assets/sass/_header.sass */
header nav a:hover {
  color: white;
}
/* line 25, ../../assets/sass/_header.sass */
header nav a.nav-divider:after {
  position: absolute;
  content: "";
  top: 15px;
  right: -14px;
  height: 24px;
  width: 11px;
  background: url(../img/site/nav-divider.png) no-repeat;
}

/* line 34, ../../assets/sass/_header.sass */
.header-phones p {
  font-style: italic;
  color: #4e545e;
  font-size: 12px;
}
/* line 38, ../../assets/sass/_header.sass */
.header-phones .media {
  margin-left: 18px;
}
/* line 40, ../../assets/sass/_header.sass */
.header-phones .media .pull-left {
  margin-right: -4px;
}
/* line 42, ../../assets/sass/_header.sass */
.header-phones .media .pull-left div {
  background: url(../img/sprites/large-icons.png) -60px -39px no-repeat;
  height: 39px;
  width: 39px;
}
/* line 48, ../../assets/sass/_header.sass */
.header-phones .media .media-body .media .pull-left {
  margin-right: 2px;
}
/* line 50, ../../assets/sass/_header.sass */
.header-phones .media .media-body .media .pull-left p {
  font-size: 14px;
}
/* line 53, ../../assets/sass/_header.sass */
.header-phones .media .media-body .media .media-body p {
  font-size: 24px;
  font-family: "Georgia", serif;
}

/* line 56, ../../assets/sass/_header.sass */
.search-form {
  margin-top: 6px;
  margin-bottom: 7px;
}
/* line 59, ../../assets/sass/_header.sass */
.search-form input {
  width: 209px;
}
/* line 61, ../../assets/sass/_header.sass */
.search-form button {
  padding: 6px 9px;
  border: 1px solid #f1f1f1 !important;
  background: white;
}
/* line 65, ../../assets/sass/_header.sass */
.search-form button span {
  background: url(../img/sprites/small-icons.png) -77px 0px no-repeat;
  height: 16px;
  width: 16px;
  display: block;
}

/* line 70, ../../assets/sass/_header.sass */
.response-forms {
  position: relative;
}
/* line 72, ../../assets/sass/_header.sass */
.response-forms .write-us {
  display: block;
  margin-top: 7px;
  margin-bottom: 9px;
}
/* line 76, ../../assets/sass/_header.sass */
.response-forms .write-us:before {
  background: url(../img/sprites/small-icons.png) -39px 0px no-repeat;
  height: 13px;
  width: 16px;
}
/* line 81, ../../assets/sass/_header.sass */
.response-forms .write-us:hover:before {
  background: url(../img/sprites/small-icons.png) -60px 0px no-repeat;
}
/* line 83, ../../assets/sass/_header.sass */
.response-forms .call-back {
  display: inline-block;
}
/* line 85, ../../assets/sass/_header.sass */
.response-forms .call-back:before {
  background: url(../img/sprites/small-icons.png) -39px -12px no-repeat;
  height: 19px;
  width: 16px;
}
/* line 90, ../../assets/sass/_header.sass */
.response-forms .call-back:hover:before {
  background: url(../img/sprites/small-icons.png) -60px -12px no-repeat;
}
/* line 92, ../../assets/sass/_header.sass */
.response-forms .write-us, .response-forms .call-back {
  border-bottom: 1px dashed #175080;
  line-height: 16px;
  text-decoration: none;
  font-size: 11px;
  font-style: italic;
  position: relative;
}
/* line 99, ../../assets/sass/_header.sass */
.response-forms .write-us:hover, .response-forms .call-back:hover {
  border-bottom: 1px solid transparent;
  text-decoration: none;
}
/* line 102, ../../assets/sass/_header.sass */
.response-forms .write-us:before, .response-forms .call-back:before {
  content: "";
  position: absolute;
  left: -38px;
  top: 2px;
}

/* line 107, ../../assets/sass/_header.sass */
.call-back-form {
  top: 54px;
}

/* line 14, ../../assets/sass/_bxslider.sass */
.slider {
  background: white;
  padding: 5px 6px;
  margin-top: 30px;
  width: 993px;
  height: 334px;
}

/* line 20, ../../assets/sass/_bxslider.sass */
.slider-shadow {
  background: url(../img/site/slider.png) no-repeat;
}

/* line 22, ../../assets/sass/_bxslider.sass */
.bx-wrapper {
  position: relative;
  padding: 0;
  *zoom: 1;
}
/* line 26, ../../assets/sass/_bxslider.sass */
.bx-wrapper .bxslider {
  margin: 0 0 0 2px;
}
/* line 29, ../../assets/sass/_bxslider.sass */
.bx-wrapper .bxslider li img {
  width: 715px;
  height: 328px;
}
/* line 32, ../../assets/sass/_bxslider.sass */
.bx-wrapper .bxslider li .bxslider-content {
  display: none;
  text-align: right;
  position: absolute;
  right: 14px;
  top: 0;
  background: url(../img/site/slider-content.png) no-repeat;
  height: 328px;
  width: 449px;
}
/* line 41, ../../assets/sass/_bxslider.sass */
.bx-wrapper .bxslider li .bxslider-content div {
  padding-left: 195px;
}
/* line 43, ../../assets/sass/_bxslider.sass */
.bx-wrapper .bxslider li .bxslider-content div h1 {
  font-size: 29px;
  font-style: italic;
  color: #2e6397;
}
/* line 47, ../../assets/sass/_bxslider.sass */
.bx-wrapper .bxslider li .bxslider-content div .blue-arrow {
  margin-right: 10px;
}
/* line 49, ../../assets/sass/_bxslider.sass */
.bx-wrapper .bxslider li .bxslider-content div .blue-arrow:after {
  top: 6px;
}
/* line 51, ../../assets/sass/_bxslider.sass */
.bx-wrapper .bx-controls {
  display: none;
}
/* line 53, ../../assets/sass/_bxslider.sass */
.bx-wrapper img {
  width: 100%;
  display: block;
}
/* line 56, ../../assets/sass/_bxslider.sass */
.bx-wrapper .bx-viewport {
  border: solid white 3px;
  left: -5px;
  background: white;
}
/* line 60, ../../assets/sass/_bxslider.sass */
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%;
}
/* line 64, ../../assets/sass/_bxslider.sass */
.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url(../img/bx_loader.gif) center center no-repeat white;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
}
/* line 73, ../../assets/sass/_bxslider.sass */
.bx-wrapper .bx-pager {
  text-align: right;
  font-size: 0.85em;
  font-family: Arial;
  font-weight: bold;
  position: absolute;
  bottom: 20px;
  right: 11px;
  z-index: 50;
}
/* line 82, ../../assets/sass/_bxslider.sass */
.bx-wrapper .bx-pager .bx-pager-item {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
/* line 86, ../../assets/sass/_bxslider.sass */
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
/* line 90, ../../assets/sass/_bxslider.sass */
.bx-wrapper .bx-pager.bx-default-pager a {
  display: block;
  margin: 0 3px;
  outline: 0;
  -webkit-border-radius: 44px;
  -moz-border-radius: 44px;
  -ms-border-radius: 44px;
  -o-border-radius: 44px;
  border-radius: 44px;
  padding: 1px 5px;
  color: #618bb4;
  text-decoration: none;
}
/* line 98, ../../assets/sass/_bxslider.sass */
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #618bb4;
  color: white;
  text-decoration: none;
}
/* line 102, ../../assets/sass/_bxslider.sass */
.bx-wrapper .bx-prev {
  left: -3px;
  background: url(../img/sprites/controls.png) no-repeat -33px 0px;
}
/* line 105, ../../assets/sass/_bxslider.sass */
.bx-wrapper .bx-next {
  right: 276px;
  background: url(../img/sprites/controls.png) no-repeat 0px 0px;
}
/* line 108, ../../assets/sass/_bxslider.sass */
.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 45%;
  margin-top: -16px;
  outline: 0;
  width: 34px;
  height: 68px;
  text-indent: -9999px;
  z-index: 999;
}
/* line 117, ../../assets/sass/_bxslider.sass */
.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}
/* line 119, ../../assets/sass/_bxslider.sass */
.bx-wrapper .bx-controls-auto {
  text-align: center;
}
/* line 121, ../../assets/sass/_bxslider.sass */
.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url(../img/controls.png) -86px -11px no-repeat;
  margin: 0 3px;
}
/* line 129, ../../assets/sass/_bxslider.sass */
.bx-wrapper .bx-controls-auto .bx-start:hover, .bx-wrapper .bx-controls-auto .bx-start.active {
  background-position: -86px 0;
}
/* line 131, ../../assets/sass/_bxslider.sass */
.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url(../img/controls.png) -86px -44px no-repeat;
  margin: 0 3px;
}
/* line 139, ../../assets/sass/_bxslider.sass */
.bx-wrapper .bx-controls-auto .bx-stop:hover, .bx-wrapper .bx-controls-auto .bx-stop.active {
  background-position: -86px -33px;
}
/* line 142, ../../assets/sass/_bxslider.sass */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%;
}
/* line 145, ../../assets/sass/_bxslider.sass */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px;
}
/* line 148, ../../assets/sass/_bxslider.sass */
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666666 \9;
  background: rgba(80, 80, 80, 0.75);
  width: 100%;
}
/* line 155, ../../assets/sass/_bxslider.sass */
.bx-wrapper .bx-caption span {
  color: white;
  font-family: Arial;
  display: block;
  font-size: 0.85em;
  padding: 10px;
}

/* line 1, ../../assets/sass/_style-headers.sass */
.ribbon {
  background: url(../img/site/ribbon.png) no-repeat;
  text-align: center;
  height: 53px;
  width: 312px;
  margin: 0 auto;
  text-transform: uppercase;
}
/* line 8, ../../assets/sass/_style-headers.sass */
.ribbon h1 {
  position: relative;
  color: #e0e1e1;
  font-size: 24px;
  line-height: 46px;
  margin: 0;
}
/* line 14, ../../assets/sass/_style-headers.sass */
.ribbon h1:before {
  left: 43px;
  top: 6px;
  position: absolute;
  content: "";
  height: 34px;
  width: 34px;
}

/* line 21, ../../assets/sass/_style-headers.sass */
.ribbon-large {
  background: url(../img/site/ribbon-large.png) no-repeat 100%;
  text-align: center;
  height: 74px;
  width: 257px;
  margin: 0 auto;
  text-transform: uppercase;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
}
/* line 29, ../../assets/sass/_style-headers.sass */
.ribbon-large h1 {
  position: relative;
  color: #e0e1e1;
  font-size: 18px;
  line-height: 23px;
  padding-top: 11px;
}

/* line 35, ../../assets/sass/_style-headers.sass */
.ribbon-med {
  background: url(../img/site/ribbon-med.png) no-repeat;
  text-align: center;
  height: 55px;
  width: 257px;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
  margin: 0 auto;
  text-transform: uppercase;
}
/* line 43, ../../assets/sass/_style-headers.sass */
.ribbon-med h1 {
  position: relative;
  color: #e0e1e1;
  font-size: 18px;
  line-height: 40px;
}

/* line 49, ../../assets/sass/_style-headers.sass */
.ribbon-arrow {
  background: url(../img/site/ribbon-arrow.png) no-repeat;
  height: 64px;
  width: 417px;
  text-transform: uppercase;
  padding-left: 21px;
}
/* line 55, ../../assets/sass/_style-headers.sass */
.ribbon-arrow h1 {
  position: relative;
  color: #e0e1e1;
  font-size: 24px;
  line-height: 43px;
}

/* line 60, ../../assets/sass/_style-headers.sass */
.ribbon-arrow-med {
  background: url(../img/site/ribbon-arrow-med.png) no-repeat;
  height: 64px;
  width: 272px;
  text-transform: uppercase;
  padding-left: 21px;
  margin-left: 18px;
}
/* line 67, ../../assets/sass/_style-headers.sass */
.ribbon-arrow-med h1 {
  position: relative;
  color: #e0e1e1;
  font-size: 24px;
  line-height: 46px;
}

/* line 73, ../../assets/sass/_style-headers.sass */
.ribbon-arrow-small {
  background: url(../img/site/ribbon-arrow-small.png) no-repeat;
  height: 64px;
  width: 217px;
  text-transform: uppercase;
  padding-left: 21px;
}
/* line 79, ../../assets/sass/_style-headers.sass */
.ribbon-arrow-small h1 {
  position: relative;
  color: #e0e1e1;
  font-size: 24px;
  line-height: 46px;
}

/* line 84, ../../assets/sass/_style-headers.sass */
.arrow-small {
  background: url(../img/site/arrow-small.png) no-repeat;
  height: 46px;
  width: 217px;
  text-transform: uppercase;
  padding-left: 21px;
  display: inline-block;
}
/* line 91, ../../assets/sass/_style-headers.sass */
.arrow-small h1 {
  position: relative;
  color: #e0e1e1;
  font-size: 24px;
  line-height: 28px;
}

/* line 1, ../../assets/sass/_cute-box.sass */
.cute-box {
  padding: 15px;
  background: white;
  border-top: 2px solid #175080;
  position: relative;
  min-height: 30px;
  z-index: 100;
}
/* line 8, ../../assets/sass/_cute-box.sass */
.cute-box:after {
  position: absolute;
  content: "";
  bottom: -5px;
  left: 0px;
  height: 5px;
  width: 665px;
  background: url(../img/site/shadow2.png) 0 -9px no-repeat;
}

/* line 17, ../../assets/sass/_cute-box.sass */
.cute-box-large:after {
  width: 989px;
  background: url(../img/site/shadow.png) 0 -9px no-repeat;
}

/* line 20, ../../assets/sass/_cute-box.sass */
.cute-box-else {
  padding: 10px 15px;
  background: white;
  border-top: 1px solid #e2e4e6;
  margin-top: 10px;
  min-height: 30px;
}

/* line 1, ../../assets/sass/_main-page.sass */
.main-page-objects {
  margin-top: 44px;
  margin-bottom: 33px;
}
/* line 4, ../../assets/sass/_main-page.sass */
.main-page-objects .ribbon {
  margin-top: -35px;
}
/* line 7, ../../assets/sass/_main-page.sass */
.main-page-objects .ribbon h1:before {
  background: url(../img/sprites/ribbon.png) 0px 0px no-repeat;
}
/* line 9, ../../assets/sass/_main-page.sass */
.main-page-objects .pull-right {
  margin-right: 18px;
  margin-top: -16px;
}
/* line 12, ../../assets/sass/_main-page.sass */
.main-page-objects .cute-box {
  padding: 0px 15px 24px 15px;
}
/* line 14, ../../assets/sass/_main-page.sass */
.main-page-objects .cute-box table {
  margin-top: 26px;
  width: 100%;
}
/* line 17, ../../assets/sass/_main-page.sass */
.main-page-objects .cute-box table td {
  padding: 14px 0;
}
/* line 19, ../../assets/sass/_main-page.sass */
.main-page-objects .cute-box table td:nth-child(2) {
  border-left: 1px solid #d1d2d2;
  padding-left: 33px;
}
/* line 23, ../../assets/sass/_main-page.sass */
.main-page-objects .cute-box .media .pull-left {
  margin-right: 20px;
}
/* line 26, ../../assets/sass/_main-page.sass */
.main-page-objects .cute-box .media .media-body .media-heading {
  color: #618cb5;
  font-size: 18px;
}
/* line 29, ../../assets/sass/_main-page.sass */
.main-page-objects .cute-box .media .media-body p {
  font-size: 12px;
  margin: 0;
}
/* line 32, ../../assets/sass/_main-page.sass */
.main-page-objects .cute-box .media .media-body .object-price {
  font-size: 12px;
  position: relative;
  margin-top: 10px;
  display: inline-block;
}
/* line 37, ../../assets/sass/_main-page.sass */
.main-page-objects .cute-box .media .media-body .object-price:after {
  content: "";
  position: absolute;
  top: 5px;
  right: -15px;
  height: 12px;
  width: 10px;
  background: url(../img/site/rubl.png) no-repeat;
}

/* line 46, ../../assets/sass/_main-page.sass */
.main-page-services p {
  line-height: 16px;
  margin-bottom: 25px;
}
/* line 49, ../../assets/sass/_main-page.sass */
.main-page-services .ribbon {
  margin-bottom: 22px;
}
/* line 52, ../../assets/sass/_main-page.sass */
.main-page-services .ribbon h1:before {
  background: url(../img/sprites/ribbon.png) -33px 0px no-repeat;
}
/* line 54, ../../assets/sass/_main-page.sass */
.main-page-services .row {
  margin-bottom: 16px;
}

/* line 56, ../../assets/sass/_main-page.sass */
.fakts {
  border: 3px solid white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background: #f0f1f1;
  margin-bottom: 15px;
  margin-top: 40px;
}
/* line 62, ../../assets/sass/_main-page.sass */
.fakts .fakts-header {
  background: #8393a2;
  color: white;
  font-size: 16px;
  padding-left: 60px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  position: relative;
  padding-top: 3px;
  padding-bottom: 3px;
}
/* line 71, ../../assets/sass/_main-page.sass */
.fakts .fakts-header .fakts-ico {
  position: absolute;
  background: url(../img/sprites/large-icons.png) 0px 0px no-repeat;
  height: 74px;
  width: 59px;
  left: -2px;
  top: -31px;
}
/* line 78, ../../assets/sass/_main-page.sass */
.fakts .fakts-body {
  background: #f0f1f1;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  padding-bottom: 11px;
}
/* line 82, ../../assets/sass/_main-page.sass */
.fakts .media {
  margin-top: 6px;
  margin-left: 18px;
}
/* line 85, ../../assets/sass/_main-page.sass */
.fakts .media .media-body {
  font-size: 12px;
  line-height: 18px;
}

/* line 89, ../../assets/sass/_main-page.sass */
.main-page-info .main-page-info-article {
  border-bottom: 1px solid #d1d2d2;
  padding: 16px 10px 6px 10px;
}
/* line 92, ../../assets/sass/_main-page.sass */
.main-page-info .main-page-info-article h3 {
  font-size: 16px;
  margin: 0;
}
/* line 95, ../../assets/sass/_main-page.sass */
.main-page-info .main-page-info-article p {
  line-height: 16px;
  margin-top: 5px;
  font-size: 12px;
}
/* line 99, ../../assets/sass/_main-page.sass */
.main-page-info .pull-right {
  margin-top: 13px;
  margin-right: 25px;
}

/* line 1, ../../assets/sass/_footer.sass */
.footer-divider {
  height: 4px;
  border-top: 1px solid #d1d2d2;
}

/* line 4, ../../assets/sass/_footer.sass */
.footer-content {
  background: white;
  padding-top: 34px;
  padding-bottom: 19px;
}
/* line 8, ../../assets/sass/_footer.sass */
.footer-content .container {
  position: relative;
}
/* line 10, ../../assets/sass/_footer.sass */
.footer-content .container .footer-img {
  position: absolute;
  height: 96px;
  width: 164px;
  background: url(../img/site/footer-img.png) no-repeat;
  right: -88px;
  top: -122px;
}
@media (max-width: 1023px) {
  /* line 10, ../../assets/sass/_footer.sass */
  .footer-content .container .footer-img {
    right: 0 !important;
  }
}

/* line 19, ../../assets/sass/_footer.sass */
.upn, .rgp {
  display: inline-block;
  vertical-align: top;
}

/* line 22, ../../assets/sass/_footer.sass */
.upn {
  margin-right: 10px;
  height: 34px;
  width: 40px;
  background: url(../img/sprites/upn.png) 0px 0px no-repeat;
}
/* line 27, ../../assets/sass/_footer.sass */
.upn:hover {
  background: url(../img/sprites/upn.png) 0px -38px no-repeat;
}

/* line 30, ../../assets/sass/_footer.sass */
.rgp {
  height: 26px;
  width: 26px;
  background: url(../img/sprites/rgp.png) 0px 0px no-repeat;
}
/* line 34, ../../assets/sass/_footer.sass */
.rgp:hover {
  background: url(../img/sprites/rgp.png) 0px -27px no-repeat;
}

/* line 36, ../../assets/sass/_footer.sass */
.footer-contacts {
  color: #747b8a;
  font-size: 12px;
  line-height: 17px;
}

/* line 40, ../../assets/sass/_footer.sass */
.footer-buttons {
  margin-left: 27px;
}
/* line 42, ../../assets/sass/_footer.sass */
.footer-buttons .site-map, .footer-buttons .faq {
  display: block;
  line-height: 17px;
  text-decoration: none;
  font-size: 11px;
  font-style: italic;
  position: relative;
  margin-bottom: 14px;
}
/* line 50, ../../assets/sass/_footer.sass */
.footer-buttons .site-map:before, .footer-buttons .faq:before {
  content: "";
  position: absolute;
  left: -33px;
  top: 2px;
}
/* line 56, ../../assets/sass/_footer.sass */
.footer-buttons .site-map:before {
  background: url(../img/sprites/small-icons.png) -18px -18px no-repeat;
  height: 16px;
  width: 16px;
}
/* line 60, ../../assets/sass/_footer.sass */
.footer-buttons .site-map:hover:before {
  background: url(../img/sprites/small-icons.png) -18px 0px no-repeat;
}
/* line 63, ../../assets/sass/_footer.sass */
.footer-buttons .faq:before {
  background: url(../img/sprites/small-icons.png) 0px 0px no-repeat;
  height: 16px;
  width: 16px;
}
/* line 67, ../../assets/sass/_footer.sass */
.footer-buttons .faq:hover:before {
  background: url(../img/sprites/small-icons.png) 0px -18px no-repeat;
}

/* line 70, ../../assets/sass/_footer.sass */
.zavod p {
  font-size: 12px;
  color: #747b8a;
  margin: 0;
}
/* line 74, ../../assets/sass/_footer.sass */
.zavod .zavod-logo {
  display: block;
  height: 27px;
  width: 103px;
  text-decoration: none;
  background: url(../img/sprites/zavod.png) 0px 0px no-repeat;
}
/* line 80, ../../assets/sass/_footer.sass */
.zavod .zavod-logo:hover {
  background: url(../img/sprites/zavod.png) 0px -30px no-repeat;
}

/* line 1, ../../assets/sass/_request-page.sass */
.request {
  display: inline-block;
  list-style: none;
  vertical-align: middle;
}
/* line 5, ../../assets/sass/_request-page.sass */
.request li {
  float: left;
  margin-right: 15px;
  font-family: "Tahoma", "Geneva", sans-serif;
}
/* line 9, ../../assets/sass/_request-page.sass */
.request li span {
  color: #4e545e;
  font-size: 14px;
}
/* line 12, ../../assets/sass/_request-page.sass */
.request li a {
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: underline;
}
/* line 16, ../../assets/sass/_request-page.sass */
.request li a:hover {
  text-decoration: none;
}
/* line 19, ../../assets/sass/_request-page.sass */
.request .active a {
  color: #4e545e;
  text-decoration: none;
}
/* line 22, ../../assets/sass/_request-page.sass */
.request .active a:hover {
  text-decoration: none;
}

/* line 24, ../../assets/sass/_request-page.sass */
.request-page {
  margin-top: 10px;
}
/* line 26, ../../assets/sass/_request-page.sass */
.request-page .cute-box-large {
  overflow-y: hidden;
}

/* line 2, ../../assets/sass/_viewer.sass */
#thumb_wrapper {
  padding: 18px 0px 12px;
  width: 444px;
  float: left;
  display: inline;
  clear: both;
}

/* line 8, ../../assets/sass/_viewer.sass */
#viewer {
  width: 100%;
}
/* line 9, ../../assets/sass/_viewer.sass */
#viewer img {
  border: 0;
}
/* line 11, ../../assets/sass/_viewer.sass */
#viewer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 16, ../../assets/sass/_viewer.sass */
#viewer .image_frame {
  position: relative;
  width: 470px;
  float: left;
  display: inline;
}
/* line 21, ../../assets/sass/_viewer.sass */
#viewer .large_image_wrap {
  width: 444px;
  height: 325px;
  float: left;
  display: inline;
  position: relative;
}
/* line 27, ../../assets/sass/_viewer.sass */
#viewer .large_image_holder {
  width: 444px;
  height: 325px;
  float: left;
  display: inline;
  position: absolute;
  z-index: 5;
}
/* line 34, ../../assets/sass/_viewer.sass */
#viewer .large_image_holder img {
  height: 325px;
  width: 444px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
/* line 38, ../../assets/sass/_viewer.sass */
#viewer .loading {
  background: url(../img/ajax-loader.gif) center no-repeat;
}
/* line 40, ../../assets/sass/_viewer.sass */
#viewer .thumb_holder {
  width: 419px;
  height: 60px;
  float: left;
  display: inline;
  position: relative;
  overflow: hidden;
}
/* line 47, ../../assets/sass/_viewer.sass */
#viewer .thumbs {
  float: left;
  display: inline;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 54, ../../assets/sass/_viewer.sass */
#viewer .sub_section li {
  float: left;
  margin: 0px 7px;
  background-color: black;
}
/* line 58, ../../assets/sass/_viewer.sass */
#viewer .sub_section li img {
  width: 84px;
  height: 54px;
  border: 3px solid #dcdee1;
}
/* line 62, ../../assets/sass/_viewer.sass */
#viewer .sub_section li img:hover {
  border: 3px solid #3a6fa2;
}
/* line 64, ../../assets/sass/_viewer.sass */
#viewer .previous {
  float: left;
  display: inline;
  width: 13px;
  height: 60px;
  text-align: center;
}
/* line 70, ../../assets/sass/_viewer.sass */
#viewer .previous img {
  background: url(../img/viewer/viewer.png) 0px 0px no-repeat;
}
/* line 72, ../../assets/sass/_viewer.sass */
#viewer .previous img:hover {
  background: url(../img/viewer/viewer.png) 0px -14px no-repeat;
}
/* line 74, ../../assets/sass/_viewer.sass */
#viewer .previous img, #viewer .next img {
  margin-top: 21px;
  width: 9px;
  height: 14px;
}
/* line 78, ../../assets/sass/_viewer.sass */
#viewer .next {
  display: inline;
  width: 13px;
  height: 60px;
  text-align: center;
}
/* line 84, ../../assets/sass/_viewer.sass */
#viewer .next img {
  background: url(../img/viewer/viewer.png) -9px 0px no-repeat;
}
/* line 86, ../../assets/sass/_viewer.sass */
#viewer .next img:hover {
  background: url(../img/viewer/viewer.png) -9px -14px no-repeat;
}
/* line 88, ../../assets/sass/_viewer.sass */
#viewer .prev_img, #viewer .next_img {
  width: 70px;
  float: left;
  display: inline;
  margin: 50px 0;
}
/* line 93, ../../assets/sass/_viewer.sass */
#viewer .desc {
  position: absolute;
  bottom: 0;
  padding: 10px 20px 20px;
  z-index: 9;
  width: 740px;
}
/* line 99, ../../assets/sass/_viewer.sass */
#viewer .desc_holder {
  color: white;
}
/* line 101, ../../assets/sass/_viewer.sass */
#viewer .section, #viewer .sub_section {
  float: left;
  display: inline;
}
/* line 104, ../../assets/sass/_viewer.sass */
#viewer .section {
  width: 647px;
}
/* line 106, ../../assets/sass/_viewer.sass */
#viewer .one {
  display: block;
}

/* line 3, ../../assets/sass/_calc-form.sass */
.calc-form .form-horizontal .control-group {
  margin-bottom: 5px;
}
/* line 5, ../../assets/sass/_calc-form.sass */
.calc-form .form-horizontal .control-group .control-label {
  width: 189px;
}
/* line 7, ../../assets/sass/_calc-form.sass */
.calc-form .form-horizontal .control-group .controls {
  margin-left: 189px;
}
/* line 9, ../../assets/sass/_calc-form.sass */
.calc-form .form-horizontal .control-group .controls select {
  width: 303px;
}
/* line 12, ../../assets/sass/_calc-form.sass */
.calc-form .form-horizontal .control-group .multiple input {
  width: 109px;
}
/* line 14, ../../assets/sass/_calc-form.sass */
.calc-form .form-horizontal .control-group .multiple select {
  width: 176px;
}
/* line 17, ../../assets/sass/_calc-form.sass */
.calc-form .form-horizontal .control-group .simetric select {
  width: 150px;
}
/* line 19, ../../assets/sass/_calc-form.sass */
.calc-form .form-horizontal table {
  border-bottom: 1px solid #e2e3e6;
  width: 100%;
}
/* line 22, ../../assets/sass/_calc-form.sass */
.calc-form .form-horizontal table .control-group {
  margin-bottom: 5px;
}
/* line 24, ../../assets/sass/_calc-form.sass */
.calc-form .form-horizontal table .control-group .control-label {
  width: 147px;
}
/* line 26, ../../assets/sass/_calc-form.sass */
.calc-form .form-horizontal table .control-group .controls {
  margin-left: 147px;
}
/* line 28, ../../assets/sass/_calc-form.sass */
.calc-form .form-horizontal table td {
  padding: 5px 0px;
}
/* line 31, ../../assets/sass/_calc-form.sass */
.calc-form .form-horizontal table td .multiple input {
  width: 90px !important;
}
/* line 33, ../../assets/sass/_calc-form.sass */
.calc-form .form-horizontal table td .multiple select {
  width: 93px !important;
}
/* line 36, ../../assets/sass/_calc-form.sass */
.calc-form .form-horizontal table td .controls input {
  width: 188px;
}
/* line 39, ../../assets/sass/_calc-form.sass */
.calc-form .form-horizontal table td .multiple-reverse input {
  width: 73px !important;
}
/* line 41, ../../assets/sass/_calc-form.sass */
.calc-form .form-horizontal table td .multiple-reverse select {
  width: 110px !important;
}

/* line 2, ../../assets/sass/_viewer.sass */
#thumb_wrapper {
  padding: 18px 0px 12px;
  width: 444px;
  float: left;
  display: inline;
  clear: both;
}

/* line 8, ../../assets/sass/_viewer.sass */
#viewer {
  width: 100%;
}
/* line 9, ../../assets/sass/_viewer.sass */
#viewer img {
  border: 0;
}
/* line 11, ../../assets/sass/_viewer.sass */
#viewer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 16, ../../assets/sass/_viewer.sass */
#viewer .image_frame {
  position: relative;
  width: 470px;
  float: left;
  display: inline;
}
/* line 21, ../../assets/sass/_viewer.sass */
#viewer .large_image_wrap {
  width: 444px;
  height: 325px;
  float: left;
  display: inline;
  position: relative;
}
/* line 27, ../../assets/sass/_viewer.sass */
#viewer .large_image_holder {
  width: 444px;
  height: 325px;
  float: left;
  display: inline;
  position: absolute;
  z-index: 5;
}
/* line 34, ../../assets/sass/_viewer.sass */
#viewer .large_image_holder img {
  height: 325px;
  width: 444px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
/* line 38, ../../assets/sass/_viewer.sass */
#viewer .loading {
  background: url(../img/ajax-loader.gif) center no-repeat;
}
/* line 40, ../../assets/sass/_viewer.sass */
#viewer .thumb_holder {
  width: 419px;
  height: 60px;
  float: left;
  display: inline;
  position: relative;
  overflow: hidden;
}
/* line 47, ../../assets/sass/_viewer.sass */
#viewer .thumbs {
  float: left;
  display: inline;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 54, ../../assets/sass/_viewer.sass */
#viewer .sub_section li {
  float: left;
  margin: 0px 7px;
  background-color: black;
}
/* line 58, ../../assets/sass/_viewer.sass */
#viewer .sub_section li img {
  width: 84px;
  height: 54px;
  border: 3px solid #dcdee1;
}
/* line 62, ../../assets/sass/_viewer.sass */
#viewer .sub_section li img:hover {
  border: 3px solid #3a6fa2;
}
/* line 64, ../../assets/sass/_viewer.sass */
#viewer .previous {
  float: left;
  display: inline;
  width: 13px;
  height: 60px;
  text-align: center;
}
/* line 70, ../../assets/sass/_viewer.sass */
#viewer .previous img {
  background: url(../img/viewer/viewer.png) 0px 0px no-repeat;
}
/* line 72, ../../assets/sass/_viewer.sass */
#viewer .previous img:hover {
  background: url(../img/viewer/viewer.png) 0px -14px no-repeat;
}
/* line 74, ../../assets/sass/_viewer.sass */
#viewer .previous img, #viewer .next img {
  margin-top: 21px;
  width: 9px;
  height: 14px;
}
/* line 78, ../../assets/sass/_viewer.sass */
#viewer .next {
  display: inline;
  width: 13px;
  height: 60px;
  text-align: center;
}
/* line 84, ../../assets/sass/_viewer.sass */
#viewer .next img {
  background: url(../img/viewer/viewer.png) -9px 0px no-repeat;
}
/* line 86, ../../assets/sass/_viewer.sass */
#viewer .next img:hover {
  background: url(../img/viewer/viewer.png) -9px -14px no-repeat;
}
/* line 88, ../../assets/sass/_viewer.sass */
#viewer .prev_img, #viewer .next_img {
  width: 70px;
  float: left;
  display: inline;
  margin: 50px 0;
}
/* line 93, ../../assets/sass/_viewer.sass */
#viewer .desc {
  position: absolute;
  bottom: 0;
  padding: 10px 20px 20px;
  z-index: 9;
  width: 740px;
}
/* line 99, ../../assets/sass/_viewer.sass */
#viewer .desc_holder {
  color: white;
}
/* line 101, ../../assets/sass/_viewer.sass */
#viewer .section, #viewer .sub_section {
  float: left;
  display: inline;
}
/* line 104, ../../assets/sass/_viewer.sass */
#viewer .section {
  width: 647px;
}
/* line 106, ../../assets/sass/_viewer.sass */
#viewer .one {
  display: block;
}

/* line 1, ../../assets/sass/_object-card.sass */
.object-card-page-nav {
  margin-top: 15px;
  text-align: center;
}
/* line 4, ../../assets/sass/_object-card.sass */
.object-card-page-nav .pull-left {
  margin-left: 17px;
}
/* line 6, ../../assets/sass/_object-card.sass */
.object-card-page-nav .pull-left a {
  position: relative;
}
/* line 8, ../../assets/sass/_object-card.sass */
.object-card-page-nav .pull-left a:before {
  content: "←";
  position: absolute;
  top: -3px;
  left: -17px;
}
/* line 13, ../../assets/sass/_object-card.sass */
.object-card-page-nav .pull-right {
  margin-right: 17px;
}
/* line 15, ../../assets/sass/_object-card.sass */
.object-card-page-nav .pull-right a {
  position: relative;
}
/* line 17, ../../assets/sass/_object-card.sass */
.object-card-page-nav .pull-right a:before {
  content: "→";
  position: absolute;
  top: -3px;
  right: -17px;
}

/* line 22, ../../assets/sass/_object-card.sass */
.object-card-page {
  position: relative;
}
/* line 24, ../../assets/sass/_object-card.sass */
.object-card-page .object-card-price {
  position: absolute;
  height: 53px;
  width: 204px;
  background: #dcdee1;
  top: 0;
  right: 0;
}
/* line 31, ../../assets/sass/_object-card.sass */
.object-card-page .object-card-price h1 {
  padding-left: 18px;
  padding-right: 5px;
  display: inline-block;
  line-height: 52px;
  margin: 0;
}
/* line 37, ../../assets/sass/_object-card.sass */
.object-card-page .object-card-price img {
  margin-top: -13px;
  display: inline-block;
  padding-right: 5px;
  vertical-align: middle;
}
/* line 42, ../../assets/sass/_object-card.sass */
.object-card-page .table-striped {
  width: 49.5%;
}
/* line 44, ../../assets/sass/_object-card.sass */
.object-card-page .table-striped td {
  border-top: 0px solid transparent;
}
/* line 46, ../../assets/sass/_object-card.sass */
.object-card-page h1 {
  margin-top: -5px;
  line-height: 30px;
}
/* line 49, ../../assets/sass/_object-card.sass */
.object-card-page h2 {
  line-height: 28px;
}
/* line 51, ../../assets/sass/_object-card.sass */
.object-card-page .obj-addr {
  margin-top: -11px;
}
/* line 53, ../../assets/sass/_object-card.sass */
.object-card-page .social-buttons {
  margin-bottom: 23px;
}
/* line 55, ../../assets/sass/_object-card.sass */
.object-card-page .obj-propetries {
  margin-bottom: 23px;
  line-height: 17px;
}
/* line 58, ../../assets/sass/_object-card.sass */
.object-card-page .b-group {
  margin-bottom: 26px;
}
/* line 60, ../../assets/sass/_object-card.sass */
.object-card-page .obj-contacts {
  line-height: 17px;
}
/* line 62, ../../assets/sass/_object-card.sass */
.object-card-page .extend-opts {
  margin-bottom: 20px;
}
/* line 64, ../../assets/sass/_object-card.sass */
.object-card-page .extend-opts p {
  font-size: 13px;
  line-height: 16px;
  margin: 0;
}

/* line 3, ../../assets/sass/_empl-card.sass */
.empl-carrd-page .response-forms .write-us, .empl-carrd-page .response-forms .call-back {
  display: inline-block;
  position: relative;
}
/* line 6, ../../assets/sass/_empl-card.sass */
.empl-carrd-page .response-forms .write-us {
  margin-right: 52px;
  margin-left: 32px;
}
/* line 9, ../../assets/sass/_empl-card.sass */
.empl-carrd-page .empl-carrd {
  border-bottom: 1px solid #d1d2d2;
  padding-bottom: 15px;
}
/* line 12, ../../assets/sass/_empl-card.sass */
.empl-carrd-page .empl-carrd .pull-left {
  margin-right: 14px;
}
/* line 14, ../../assets/sass/_empl-card.sass */
.empl-carrd-page .empl-carrd .blue-cloud {
  background: #3a6fa2;
  color: white;
  position: relative;
  padding: 2px 15px 18px 15px;
  min-height: 49px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  margin-left: 5px;
  margin-bottom: 7px;
}
/* line 23, ../../assets/sass/_empl-card.sass */
.empl-carrd-page .empl-carrd .blue-cloud:before {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  top: 43%;
  left: -5px;
  background: url(../img/site/blue-cloud.png) no-repeat;
}
/* line 31, ../../assets/sass/_empl-card.sass */
.empl-carrd-page .empl-carrd .blue-cloud h2 {
  line-height: 18px;
}
/* line 33, ../../assets/sass/_empl-card.sass */
.empl-carrd-page table {
  margin-top: 20px;
  width: 100%;
}
/* line 36, ../../assets/sass/_empl-card.sass */
.empl-carrd-page table td {
  padding: 20px 0;
}
/* line 38, ../../assets/sass/_empl-card.sass */
.empl-carrd-page table td:nth-child(2) {
  padding-left: 20px;
}
/* line 41, ../../assets/sass/_empl-card.sass */
.empl-carrd-page table .media .pull-left {
  margin-right: 20px;
}
/* line 44, ../../assets/sass/_empl-card.sass */
.empl-carrd-page table .media .media-body .media-heading {
  color: #618cb5;
  font-size: 18px;
}
/* line 47, ../../assets/sass/_empl-card.sass */
.empl-carrd-page table .media .media-body p {
  font-size: 12px;
  margin: 0;
}
/* line 50, ../../assets/sass/_empl-card.sass */
.empl-carrd-page table .media .media-body .object-price {
  font-size: 12px;
  position: relative;
  margin-top: 10px;
  display: inline-block;
}
/* line 55, ../../assets/sass/_empl-card.sass */
.empl-carrd-page table .media .media-body .object-price:after {
  content: "";
  position: absolute;
  top: 5px;
  right: -15px;
  height: 12px;
  width: 10px;
  background: url(../img/site/rubl.png) no-repeat;
}

/* line 64, ../../assets/sass/_empl-card.sass */
.empl-list .cute-box {
  padding: 12px;
}
/* line 66, ../../assets/sass/_empl-card.sass */
.empl-list .cute-box table {
  margin-top: 0;
}
/* line 68, ../../assets/sass/_empl-card.sass */
.empl-list .cute-box table td {
  padding-top: 15px;
}
/* line 70, ../../assets/sass/_empl-card.sass */
.empl-list .cute-box table td:nth-child(2) {
  padding-left: 30px;
}
/* line 72, ../../assets/sass/_empl-card.sass */
.empl-list .cute-box table td .media {
  border-bottom: 1px solid #d1d2d2;
  min-height: 130px;
}
/* line 76, ../../assets/sass/_empl-card.sass */
.empl-list .cute-box table td .media .media-body p {
  line-height: 17px;
  margin: 0;
}
/* line 79, ../../assets/sass/_empl-card.sass */
.empl-list .cute-box table td .media .pull-left {
  margin-right: 11px;
}
/* line 85, ../../assets/sass/_empl-card.sass */
.empl-list .cute-box table tr:nth-last-child(1) td .media {
  border-bottom: none;
  min-height: 95px;
}
/* line 89, ../../assets/sass/_empl-card.sass */
.empl-list .cute-box table tr:nth-child(1) td {
  padding-top: 0px;
}

/* line 1, ../../assets/sass/_calc.sass */
.calculator {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 4, ../../assets/sass/_calc.sass */
.big-btn-calc {
  width: 48.89%;
  padding: 7px 12px;
}
/* line 7, ../../assets/sass/_calc.sass */
.big-btn-calc h1 {
  text-transform: uppercase;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  font-family: "Tahoma", "Geneva", sans-serif;
  border-bottom: 1px dashed white;
}
/* line 14, ../../assets/sass/_calc.sass */
.big-btn-calc img {
  display: inline-block;
}
/* line 16, ../../assets/sass/_calc.sass */
.big-btn-calc .btn-calc-ico {
  height: 36px;
  width: 24px;
  background: url(../img/sprites/ribbon.png) -68px 0px no-repeat;
  padding-right: 9px;
}
/* line 21, ../../assets/sass/_calc.sass */
.big-btn-calc .btn-calc-arrow {
  height: 7px;
  width: 11px;
  background: url(../img/sprites/calc.png) 0px -7px no-repeat;
}

/* line 26, ../../assets/sass/_calc.sass */
.big-btn-calc.active .btn-calc-arrow {
  background: url(../img/sprites/calc.png) 0px 0px no-repeat;
}

/* line 28, ../../assets/sass/_calc.sass */
.useful-info {
  padding-top: 0px;
}
/* line 30, ../../assets/sass/_calc.sass */
.useful-info h2 {
  line-height: 15px;
}
/* line 32, ../../assets/sass/_calc.sass */
.useful-info .media {
  margin-top: 20px;
}
/* line 34, ../../assets/sass/_calc.sass */
.useful-info .media .pull-left {
  margin-right: 31px;
}
/* line 36, ../../assets/sass/_calc.sass */
.useful-info .media .pull-left img {
  max-width: 120px;
}
/* line 38, ../../assets/sass/_calc.sass */
.useful-info .media .media-body {
  border-bottom: 1px solid #d1d2d2;
  padding-bottom: 14px;
}
/* line 41, ../../assets/sass/_calc.sass */
.useful-info .media .media-body h2 {
  line-height: 10px;
}
/* line 43, ../../assets/sass/_calc.sass */
.useful-info .media .media-body p {
  margin-top: 30px;
}
/* line 46, ../../assets/sass/_calc.sass */
.useful-info .media:nth-last-child(2) .media-body {
  border-bottom: none;
}

/* line 48, ../../assets/sass/_calc.sass */
.questions {
  margin-top: 20px;
}
/* line 50, ../../assets/sass/_calc.sass */
.questions .question {
  padding: 9px;
}
/* line 52, ../../assets/sass/_calc.sass */
.questions .question p {
  font-size: 17px;
  line-height: 18px;
}
/* line 55, ../../assets/sass/_calc.sass */
.questions .answer {
  background: white;
  border: 1px solid #d1d2d2;
  padding: 6px 20px 25px 20px;
  margin-left: 9px;
  position: relative;
  margin-bottom: 10px;
}
/* line 62, ../../assets/sass/_calc.sass */
.questions .answer:before {
  content: "";
  position: absolute;
  top: -17px;
  left: 22px;
  height: 18px;
  width: 29px;
  background: url(../img/site/answer.png) no-repeat;
}
/* line 70, ../../assets/sass/_calc.sass */
.questions .answer p {
  margin: 0;
  line-height: 16px;
}
/* line 73, ../../assets/sass/_calc.sass */
.questions .blue-arrow {
  margin-right: 25px;
}

/* line 1, ../../assets/sass/_pagination.sass */
.pagination-box {
  text-align: center;
  padding-top: 26px;
  border-top: 1px solid #d1d2d2;
}
/* line 5, ../../assets/sass/_pagination.sass */
.pagination-box ul {
  list-style: none;
  display: inline-block;
  text-align: center;
}
/* line 9, ../../assets/sass/_pagination.sass */
.pagination-box ul li {
  float: left;
}
/* line 11, ../../assets/sass/_pagination.sass */
.pagination-box ul li a {
  font-size: 12px;
  margin-right: 14.5px;
}
/* line 15, ../../assets/sass/_pagination.sass */
.pagination-box ul .active a {
  font-size: 18px;
  color: #272e3f;
  cursor: default;
}
/* line 19, ../../assets/sass/_pagination.sass */
.pagination-box ul .active a:hover {
  text-decoration: none;
}
/* line 21, ../../assets/sass/_pagination.sass */
.pagination-box ul .prev-page {
  position: relative;
  margin-right: 11px;
}
/* line 25, ../../assets/sass/_pagination.sass */
.pagination-box ul .prev-page a:before {
  content: "←";
  position: absolute;
  top: 0px;
  left: -19px;
}
/* line 31, ../../assets/sass/_pagination.sass */
.pagination-box ul .next-page a {
  position: relative;
  margin-left: 11px;
}
/* line 34, ../../assets/sass/_pagination.sass */
.pagination-box ul .next-page a:before {
  content: "→";
  position: absolute;
  top: -3px;
  right: -19px;
}

/* line 1, ../../assets/sass/_obj-search.sass */
.object-search {
  margin: 0;
}
/* line 3, ../../assets/sass/_obj-search.sass */
.object-search .form-inline {
  padding: 4px 0px;
}

/* line 6, ../../assets/sass/_obj-search.sass */
.object-search-head .ribbon-arrow-small {
  position: relative;
  display: inline-block;
  margin-right: 20px;
}
/* line 10, ../../assets/sass/_obj-search.sass */
.object-search-head .ribbon-arrow-small h1 {
  padding-left: 40px;
  line-height: 26px;
}
/* line 13, ../../assets/sass/_obj-search.sass */
.object-search-head .ribbon-arrow-small:before {
  left: 20px;
  top: 6px;
  position: absolute;
  content: "";
  height: 34px;
  width: 34px;
  background: url(../img/sprites/ribbon.png) 0px 0px no-repeat;
}
/* line 21, ../../assets/sass/_obj-search.sass */
.object-search-head .input-append {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}
/* line 25, ../../assets/sass/_obj-search.sass */
.object-search-head .input-append input {
  width: 587px;
}
/* line 27, ../../assets/sass/_obj-search.sass */
.object-search-head .btn-gray {
  display: inline-block;
  vertical-align: top;
  margin-top: 6px;
}

/* line 31, ../../assets/sass/_obj-search.sass */
.object-search-body {
  margin-top: 0;
  padding: 15px;
}
/* line 34, ../../assets/sass/_obj-search.sass */
.object-search-body label {
  font-size: 14px;
  font-weight: bold;
  margin-right: 15px;
  line-height: 16px;
}
/* line 39, ../../assets/sass/_obj-search.sass */
.object-search-body select {
  width: 207px;
  margin-right: 33px;
}
/* line 42, ../../assets/sass/_obj-search.sass */
.object-search-body a {
  margin-right: 18px;
}
/* line 45, ../../assets/sass/_obj-search.sass */
.object-search-body .short-spaces select, .object-search-body .short-spaces input {
  margin-right: 7px;
}
/* line 48, ../../assets/sass/_obj-search.sass */
.object-search-body .sort span {
  display: inline-block;
  border-bottom: 1px dashed #618cb5;
  position: relative;
}
/* line 52, ../../assets/sass/_obj-search.sass */
.object-search-body .sort span:hover {
  border-bottom: 1px dashed transparent;
}
/* line 54, ../../assets/sass/_obj-search.sass */
.object-search-body .sort span:after {
  content: "";
  height: 10px;
  width: 10px;
  position: absolute;
  top: 9px;
  right: -15px;
  background: url(../img/site/sort.png) 0px 0px no-repeat;
}
/* line 64, ../../assets/sass/_obj-search.sass */
.object-search-body .advansed-search span {
  display: inline-block;
  border-bottom: 1px dashed #618cb5;
  position: relative;
}
/* line 68, ../../assets/sass/_obj-search.sass */
.object-search-body .advansed-search span:hover {
  border-bottom: 1px dashed transparent;
}
/* line 70, ../../assets/sass/_obj-search.sass */
.object-search-body .advansed-search span:after {
  content: "";
  height: 10px;
  width: 10px;
  position: absolute;
  top: 9px;
  right: -15px;
  background: url(../img/sprites/micro-icons.png) 0px 0px no-repeat;
}

/* line 78, ../../assets/sass/_obj-search.sass */
.form-divider {
  height: 1px;
  width: 96%;
  border-bottom: 1px solid #d1d2d2;
  margin-top: 4px;
  margin-bottom: 4px;
}

/* line 84, ../../assets/sass/_obj-search.sass */
.form-divider-full {
  width: 100%;
  border-bottom: 1px solid #d1d2d2;
  margin-top: 4px;
  margin-bottom: 4px;
  height: 1px;
}

/* line 90, ../../assets/sass/_obj-search.sass */
.advansed-search-box {
  margin-top: 15px;
}
/* line 92, ../../assets/sass/_obj-search.sass */
.advansed-search-box .micro-select {
  width: 61px;
}
/* line 94, ../../assets/sass/_obj-search.sass */
.advansed-search-box .span1 {
  width: 77px;
}
/* line 96, ../../assets/sass/_obj-search.sass */
.advansed-search-box .span2 {
  width: 113px;
}
/* line 98, ../../assets/sass/_obj-search.sass */
.advansed-search-box .short-spaces {
  border-bottom: 1px solid #d1d2d2;
  margin-bottom: 4px;
  padding-bottom: 6px;
}
/* line 102, ../../assets/sass/_obj-search.sass */
.advansed-search-box .short-spaces select, .advansed-search-box .short-spaces input {
  margin-right: 7px;
}
/* line 104, ../../assets/sass/_obj-search.sass */
.advansed-search-box .row-fluid {
  margin-top: 10px;
}
/* line 106, ../../assets/sass/_obj-search.sass */
.advansed-search-box .inherit {
  font-weight: inherit;
}
/* line 109, ../../assets/sass/_obj-search.sass */
.advansed-search-box fieldset button {
  margin-right: 15px;
}
/* line 111, ../../assets/sass/_obj-search.sass */
.advansed-search-box fieldset textarea {
  margin-top: 15px;
  resize: none;
}
/* line 114, ../../assets/sass/_obj-search.sass */
.advansed-search-box fieldset .span1 {
  margin-right: 15px;
}
/* line 116, ../../assets/sass/_obj-search.sass */
.advansed-search-box fieldset label {
  margin-right: 13px;
}
/* line 118, ../../assets/sass/_obj-search.sass */
.advansed-search-box fieldset select {
  margin-right: 15px;
}
/* line 122, ../../assets/sass/_obj-search.sass */
.advansed-search-box fieldset .form-inline label:nth-child(1) {
  min-width: 68px;
}
/* line 124, ../../assets/sass/_obj-search.sass */
.advansed-search-box fieldset .form-inline .checkbox-inline {
  min-width: 130px !important;
}
/* line 126, ../../assets/sass/_obj-search.sass */
.advansed-search-box .clear-form {
  margin-right: 15px;
}

/* line 131, ../../assets/sass/_obj-search.sass */
.search-results .media .media-body .ojbect-properties {
  margin-top: 3px;
}
/* line 133, ../../assets/sass/_obj-search.sass */
.search-results .media .media-body .ojbect-properties p {
  color: #969ca6;
  margin: 0;
  line-height: 16px;
  font-size: 11px;
}
/* line 138, ../../assets/sass/_obj-search.sass */
.search-results .media .media-body .object-price {
  font-size: 18px;
  position: relative;
  margin-top: 5px;
  display: inline-block;
  font-weight: bold;
}
/* line 144, ../../assets/sass/_obj-search.sass */
.search-results .media .media-body .object-price:after {
  content: "";
  position: absolute;
  top: 1px;
  right: -18px;
  height: 18px;
  width: 10px;
  background: url(../img/site/rubl-big-white.png) no-repeat;
}
/* line 152, ../../assets/sass/_obj-search.sass */
.search-results .media .media-body .media-heading {
  font-size: 18px;
  line-height: 18px;
}
/* line 155, ../../assets/sass/_obj-search.sass */
.search-results .media .media-body p {
  margin: 0;
  line-height: 13px;
}
/* line 158, ../../assets/sass/_obj-search.sass */
.search-results .media .pull-left {
  margin-right: 18px;
}
/* line 160, ../../assets/sass/_obj-search.sass */
.search-results .media .pull-left img {
  width: 114px;
  margin-bottom: 12px;
}
/* line 164, ../../assets/sass/_obj-search.sass */
.search-results .media .pull-left button span {
  display: inline-block;
  border-bottom: 1px dashed white;
}
/* line 167, ../../assets/sass/_obj-search.sass */
.search-results table {
  width: 100%;
}
/* line 169, ../../assets/sass/_obj-search.sass */
.search-results table tr {
  border-bottom: 1px solid #d1d2d2;
}
/* line 171, ../../assets/sass/_obj-search.sass */
.search-results table tr:nth-last-child(1) {
  border-bottom: 0px solid transparent;
}
/* line 173, ../../assets/sass/_obj-search.sass */
.search-results table td {
  text-align: left;
  vertical-align: top;
  padding-top: 17px;
  padding-bottom: 29px;
}

/* line 178, ../../assets/sass/_obj-search.sass */
.reserved-objects {
  position: fixed;
  right: 0;
  bottom: 0;
  background: #ebebeb;
  -webkit-border-radius: 4px 0 0 0;
  -moz-border-radius: 4px 0 0 0;
  -ms-border-radius: 4px 0 0 0;
  -o-border-radius: 4px 0 0 0;
  border-radius: 4px 0 0 0;
  z-index: 9999;
  -webkit-box-shadow: -2px 0px 14px -2px #c9c9c9;
  -moz-box-shadow: -2px 0px 14px -2px #c9c9c9;
  box-shadow: -2px 0px 14px -2px #c9c9c9;
  min-width: 160px;
  min-height: 30px;
}
/* line 188, ../../assets/sass/_obj-search.sass */
.reserved-objects .reserved-objects-content {
  padding: 18px;
}
/* line 190, ../../assets/sass/_obj-search.sass */
.reserved-objects .reserved-objects-toggle-fix {
  position: relative;
  height: 0;
  width: 0;
}
/* line 194, ../../assets/sass/_obj-search.sass */
.reserved-objects .reserved-objects-toggle-fix .reserved-objects-toggle {
  position: absolute;
  top: -32px;
  left: 25px;
  padding: 6px 15px;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
/* line 200, ../../assets/sass/_obj-search.sass */
.reserved-objects .reserved-objects-toggle-fix .reserved-objects-toggle a {
  border-bottom: 1px dashed white;
  color: white;
  display: inline;
}
/* line 204, ../../assets/sass/_obj-search.sass */
.reserved-objects .reserved-objects-toggle-fix .reserved-objects-toggle a:hover {
  border-bottom: 1px solid transparent;
  text-decoration: none;
}
/* line 207, ../../assets/sass/_obj-search.sass */
.reserved-objects .reserved-objects-toggle-fix .reserved-objects-toggle span {
  color: white;
  display: inline-block;
  padding-left: 4px;
}
/* line 211, ../../assets/sass/_obj-search.sass */
.reserved-objects .media {
  overflow: visible;
  float: left;
  margin-top: 0;
  margin-bottom: 20px;
}
/* line 216, ../../assets/sass/_obj-search.sass */
.reserved-objects .media .pull-left {
  padding: 3px;
  width: 86px;
  height: 58px;
  margin-right: 9px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
/* line 223, ../../assets/sass/_obj-search.sass */
.reserved-objects .media .pull-left .object-remove {
  position: absolute;
  display: block;
  height: 17px;
  width: 17px;
  top: -4px;
  right: -11px;
  background: url(../img/sprites/small-icons.png) -95px -17px no-repeat;
}
/* line 231, ../../assets/sass/_obj-search.sass */
.reserved-objects .media .pull-left img {
  border: 3px solid white;
}
/* line 233, ../../assets/sass/_obj-search.sass */
.reserved-objects .media .media-body {
  padding-top: 10px;
  padding-right: 15px;
}
/* line 236, ../../assets/sass/_obj-search.sass */
.reserved-objects .media .media-body .reserved-object-price {
  position: relative;
  display: inline-block;
}
/* line 239, ../../assets/sass/_obj-search.sass */
.reserved-objects .media .media-body .reserved-object-price:after {
  content: "";
  position: absolute;
  top: 7px;
  right: -11px;
  height: 10px;
  width: 7px;
  background: url(../img/site/rubl-reserved.png) no-repeat;
}

/* line 248, ../../assets/sass/_obj-search.sass */
.reserved-objects.active .reserved-objects-content {
  display: none;
}

/* line 28, ../../assets/sass/application.sass */
body {
  background: #f6f6f6;
  color: #272e3f;
  font-family: "Tahoma", "Geneva", sans-serif;
  overflow-x: hidden;
}

/* line 33, ../../assets/sass/application.sass */
article {
  margin-bottom: 70px;
}

/* line 35, ../../assets/sass/application.sass */
a {
  color: #618cb5;
  text-decoration: none;
}
/* line 38, ../../assets/sass/application.sass */
a:focus {
  outline: none;
}
/* line 40, ../../assets/sass/application.sass */
a:hover {
  text-decoration: underline;
}

/* line 42, ../../assets/sass/application.sass */
.footer-divider, .footer-content {
  min-width: 1005px;
}

/* line 44, ../../assets/sass/application.sass */
h1, h2, h3 {
  font-family: "Georgia", serif;
}

/* line 46, ../../assets/sass/application.sass */
h1 {
  font-size: 30px;
  line-height: 36px;
}

/* line 49, ../../assets/sass/application.sass */
h3 {
  font-size: 16px;
  line-height: 22px;
}

/* line 52, ../../assets/sass/application.sass */
h2 {
  font-size: 18px;
  line-height: 24px;
}

/* line 55, ../../assets/sass/application.sass */
p {
  font-size: 12px;
}

/* line 57, ../../assets/sass/application.sass */
big {
  font-size: 18px;
}

/* line 59, ../../assets/sass/application.sass */
.blue-arrow {
  position: relative;
  font-style: italic;
  color: #175080;
  font-size: 11px;
}
/* line 64, ../../assets/sass/application.sass */
.blue-arrow:after {
  position: absolute;
  content: "";
  top: 8px;
  right: -11px;
  background: url(../img/sprites/micro-icons.png) -22px 0px no-repeat;
  height: 6px;
  width: 3px;
}

/* line 72, ../../assets/sass/application.sass */
input, select, textarea {
  border: 1px solid #f1f1f1 !important;
  color: #8e95a0;
}

/* line 77, ../../assets/sass/application.sass */
select option {
  color: #8e95a0;
  font-size: 12px;
}

/* line 81, ../../assets/sass/application.sass */
.form-horizontal .control-group {
  margin-bottom: 10px;
}
/* line 83, ../../assets/sass/application.sass */
.form-horizontal .control-label {
  text-align: left;
  width: 115px;
}
/* line 86, ../../assets/sass/application.sass */
.form-horizontal label {
  color: #8e95a0;
  font-size: 12px;
}
/* line 89, ../../assets/sass/application.sass */
.form-horizontal .controls {
  margin-left: 120px;
}
/* line 91, ../../assets/sass/application.sass */
.form-horizontal table {
  width: 100%;
}
/* line 93, ../../assets/sass/application.sass */
.form-horizontal table td {
  padding: 0px 12px;
  vertical-align: top;
}
/* line 96, ../../assets/sass/application.sass */
.form-horizontal table .help-block {
  color: #4e555f;
  font-weight: bold;
  font-size: 14px;
}
/* line 100, ../../assets/sass/application.sass */
.form-horizontal table .info {
  color: #8e95a0;
  font-size: 11px;
}

/* line 104, ../../assets/sass/application.sass */
.multiple label {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}
/* line 108, ../../assets/sass/application.sass */
.multiple input {
  display: inline-block;
  width: 55px;
}
/* line 111, ../../assets/sass/application.sass */
.multiple select {
  width: 55px;
}

/* line 113, ../../assets/sass/application.sass */
.btn-primary {
  background-color: #003c5c !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2d75ab", endColorstr="#003b5b");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#2d75ab), to(#073875));
  background-image: -moz-linear-gradient(top, #2d75ab, #073875);
  background-image: -ms-linear-gradient(top, #2d75ab, #073875);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2d75ab), color-stop(100%, #073875));
  background-image: -webkit-linear-gradient(top, #2d75ab, #073875);
  background-image: -o-linear-gradient(top, #2d75ab, #073875);
  background-image: linear-gradient(#2d75ab, #073875);
  border-color: #003b5b #003b5b #002b42;
  color: white !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}

/* line 128, ../../assets/sass/application.sass */
.simple-list {
  list-style: none;
  margin: 0 0 10px 20px;
}
/* line 131, ../../assets/sass/application.sass */
.simple-list li {
  position: relative;
  line-height: 19px;
}
/* line 134, ../../assets/sass/application.sass */
.simple-list li:before {
  content: "";
  position: absolute;
  top: 9px;
  left: -17px;
  height: 6px;
  width: 3px;
  background: url(../img/sprites/micro-icons.png) -22px 0px no-repeat;
}
/* line 142, ../../assets/sass/application.sass */
.simple-list li a {
  font-size: 12px;
  line-height: 0px;
}

/* line 145, ../../assets/sass/application.sass */
.list-bordered {
  background: white;
  border-top: 1px solid #d1d2d2;
  border-bottom: 1px solid #d1d2d2;
  padding: 0 0 3px 20px;
  margin: 0;
}
/* line 151, ../../assets/sass/application.sass */
.list-bordered li {
  border-bottom: 1px solid #d1d2d2;
  line-height: 29px;
}
/* line 154, ../../assets/sass/application.sass */
.list-bordered li:nth-last-child(1) {
  border-bottom: 0px solid transparent;
}
/* line 156, ../../assets/sass/application.sass */
.list-bordered li:before {
  left: -12px;
  top: 11px;
}

/* line 160, ../../assets/sass/application.sass */
.breadcumbs {
  list-style: none;
  margin-top: 30px;
  margin-left: 0px;
  margin-bottom: 8px;
}
/* line 165, ../../assets/sass/application.sass */
.breadcumbs li {
  float: left;
  font-family: "Tahoma", "Geneva", sans-serif;
}
/* line 168, ../../assets/sass/application.sass */
.breadcumbs li a {
  color: #8e95a0;
  font-size: 11px;
}
/* line 171, ../../assets/sass/application.sass */
.breadcumbs li .divider {
  color: #8e95a0;
  margin-left: 3px;
  margin-right: 6px;
}
/* line 175, ../../assets/sass/application.sass */
.breadcumbs .active {
  font-size: 12px;
  color: #8e95a0;
}

/* line 178, ../../assets/sass/application.sass */
.article {
  font-family: "Tahoma", "Geneva", sans-serif;
  border-bottom: 1px solid #d1d2d2;
  margin-left: -12px;
  margin-bottom: 20px;
}
/* line 183, ../../assets/sass/application.sass */
.article h2 {
  margin-top: -3px;
  margin-bottom: 15px;
}
/* line 186, ../../assets/sass/application.sass */
.article p {
  margin-bottom: 17px;
}

/* line 189, ../../assets/sass/application.sass */
.social-buttons > .fb-like,
.social-buttons > table,
.social-buttons > iframe {
  display: inline-block;
  vertical-align: top;
  margin: 0 7px 0 0;
}
/* line 195, ../../assets/sass/application.sass */
.social-buttons #fb-root {
  display: inline;
}

/* line 198, ../../assets/sass/application.sass */
.contacts h1 {
  line-height: 45px;
}
/* line 201, ../../assets/sass/application.sass */
.contacts .contacts-header .pull-right {
  margin-top: 21px;
}
/* line 203, ../../assets/sass/application.sass */
.contacts .contacts-header .btn-call-back {
  margin-left: 4px;
}
/* line 205, ../../assets/sass/application.sass */
.contacts .contacts-header .btn-call-back span {
  position: relative;
  margin-left: 26px;
  margin-right: 2px;
  font-size: 12px;
}
/* line 210, ../../assets/sass/application.sass */
.contacts .contacts-header .btn-call-back span:before {
  position: absolute;
  content: "";
  left: -30px;
  top: -2px;
  background: url(../img/sprites/small-icons.png) -39px -12px no-repeat;
  height: 19px;
  width: 16px;
}
/* line 219, ../../assets/sass/application.sass */
.contacts .contacts-header .btn-write-us span {
  position: relative;
  margin-left: 26px;
  margin-right: 2px;
  font-size: 12px;
}
/* line 224, ../../assets/sass/application.sass */
.contacts .contacts-header .btn-write-us span:before {
  position: absolute;
  content: "";
  left: -30px;
  top: 0px;
  background: url(../img/sprites/small-icons.png) -39px 0px no-repeat;
  height: 13px;
  width: 16px;
}
/* line 232, ../../assets/sass/application.sass */
.contacts .cute-box-else {
  margin-top: 0;
  padding: 0px 12px 20px 12px;
}
/* line 235, ../../assets/sass/application.sass */
.contacts .cute-box-else h2 {
  line-height: 18px;
}
/* line 237, ../../assets/sass/application.sass */
.contacts .cute-box-else .media {
  border-bottom: 1px solid #d1d2d2;
}
/* line 239, ../../assets/sass/application.sass */
.contacts .cute-box-else .media:nth-last-child(1) {
  border-bottom: none;
}
/* line 241, ../../assets/sass/application.sass */
.contacts .cute-box {
  padding: 5px 15px 60px 15px;
}
/* line 244, ../../assets/sass/application.sass */
.contacts .cute-box .pull-left p {
  margin: 0;
  line-height: 18px;
  margin-top: 4px;
}
/* line 248, ../../assets/sass/application.sass */
.contacts .cute-box .map {
  margin-top: 27px;
}

/* line 251, ../../assets/sass/application.sass */
.projects-page .cute-box {
  padding: 2px 8px 40px 8px;
}
/* line 253, ../../assets/sass/application.sass */
.projects-page table {
  width: 100%;
}
/* line 255, ../../assets/sass/application.sass */
.projects-page table td {
  padding: 5px 8px 0px 8px;
  vertical-align: top;
}
/* line 258, ../../assets/sass/application.sass */
.projects-page table td img {
  width: 100%;
  border: 1px solid #d1d2d2;
  margin-top: 5px;
  margin-bottom: 5px;
}
/* line 263, ../../assets/sass/application.sass */
.projects-page table td p {
  line-height: 16px;
  margin-bottom: 17px;
}

/* line 268, ../../assets/sass/application.sass */
.services-page .ribbon-arrow-med h1 {
  position: relative;
  margin-left: 36px;
}
/* line 271, ../../assets/sass/application.sass */
.services-page .ribbon-arrow-med h1:before {
  left: -44px;
  top: 6px;
  position: absolute;
  content: "";
  height: 34px;
  width: 34px;
  background: url(../img/sprites/ribbon.png) -33px 0px no-repeat;
}
/* line 279, ../../assets/sass/application.sass */
.services-page .cute-box {
  padding: 3px 14px;
}
/* line 282, ../../assets/sass/application.sass */
.services-page .cute-box .simple-list li {
  margin-bottom: 18px;
}
/* line 284, ../../assets/sass/application.sass */
.services-page .cute-box p {
  margin-bottom: 18px;
}

/* line 286, ../../assets/sass/application.sass */
.modal {
  background: #8393a2;
  z-index: 3000;
}
/* line 289, ../../assets/sass/application.sass */
.modal.modal-small {
  width: 400px;
  margin-left: -200px;
}
/* line 292, ../../assets/sass/application.sass */
.modal .modal-body {
  max-height: none;
}
/* line 294, ../../assets/sass/application.sass */
.modal .close {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 297, ../../assets/sass/application.sass */
.modal .control-group .control-label {
  text-align: left;
  color: #f6f6f6;
  font-size: 13px;
  line-height: 16px;
}
/* line 303, ../../assets/sass/application.sass */
.modal .control-group .controls input, .modal .control-group .controls textarea {
  width: 235px;
}
/* line 305, ../../assets/sass/application.sass */
.modal p {
  color: white;
  font-size: 14px;
  font-weight: bold;
}

/* line 309, ../../assets/sass/application.sass */
.modal-large {
  width: 960px;
  margin-left: -480px;
}

/* line 313, ../../assets/sass/application.sass */
.modal-small-select-area .modal-select {
  list-style: none;
  margin: 0;
}
/* line 316, ../../assets/sass/application.sass */
.modal-small-select-area .modal-select li {
  position: relative;
}
/* line 318, ../../assets/sass/application.sass */
.modal-small-select-area .modal-select li a {
  display: inline-block;
  color: #f6f6f6;
  border-bottom: 1px dashed #f6f6f6;
  margin-bottom: 14px;
  padding-right: 2px;
}
/* line 324, ../../assets/sass/application.sass */
.modal-small-select-area .modal-select li a:hover {
  text-decoration: none;
  border-bottom: 1px solid transparent;
}
/* line 327, ../../assets/sass/application.sass */
.modal-small-select-area .modal-select li span {
  display: inline-block;
  color: #a3b6c9;
}
/* line 331, ../../assets/sass/application.sass */
.modal-small-select-area .modal-select .active:after {
  content: "";
  position: absolute;
  height: 7px;
  width: 4px;
  left: 127px;
  top: 7px;
  background: url(../img/site/modal-active.png) no-repeat;
}
/* line 339, ../../assets/sass/application.sass */
.modal-small-select-area .modal-select .active a {
  border-bottom: 1px solid transparent;
}
/* line 341, ../../assets/sass/application.sass */
.modal-small-select-area .controls {
  margin-left: 140px;
}
/* line 343, ../../assets/sass/application.sass */
.modal-small-select-area .control-label {
  width: 134px;
}
/* line 346, ../../assets/sass/application.sass */
.modal-small-select-area .tab-content {
  height: 161px;
  max-height: 161px;
  background: #a0acb7;
  padding-left: 9px;
}
/* line 351, ../../assets/sass/application.sass */
.modal-small-select-area .tab-content .checkbox {
  margin-bottom: 0;
  color: #f6f6f6 !important;
}
/* line 354, ../../assets/sass/application.sass */
.modal-small-select-area .tab-content .checkbox input {
  width: 20px;
}
