<!doctype html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %}</title>
		<script src="/static/js/html5.js"></script>
		<link href="/static/css/bootstrap.min.css" rel="stylesheet">
		<link href="/static/css/application.css" rel="stylesheet">
	</head>
	<body>
		<div id="wrapper">
			{% include "header.html" %}
			<article class="container">
				{% block content %}{% endblock %}
			</article>
			<div class="push"></div>
		</div>
		{% include "footer.html" %}
		{% include "partials/modals.html" %}
	</body>
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/jquery.bxslider.min.js"></script>
	<script src="/static/js/easing.js"></script>
	<script src="/static/js/jquery.vec.GalleryAjaxed.js"></script>
	<script src="/static/js/all.js"></script>
</html>