{% extends "base.html" %}
{% block title %}Контакты{% endblock %}
{% block content %}
<div class="row">
	<div class="span15">
		<ul class="breadcumbs clearfix">
			<li><a href="#">Главная</a> <span class="divider">→</span></li>
			<li class="active">Контакты</li>
		</ul>
	</div>
</div>
<div class="contacts">
	<div class="clearfix contacts-header">
		<div class="pull-right">
			<a href="#write-us" class="btn btn-primary btn-write-us" data-toggle="modal"><span>Написать письмо</span></a>
			<a href="#call-back" class="btn btn-primary btn-call-back" data-toggle="modal"><span>Заказать звонок</span></a>
		</div>
		<div class="ribbon-arrow-small"><h1>Контакты</h1></div>
	</div>
	<div class="row">
		<div class="span5">
			<div class="cute-box-else">
				<h2>Телефоны:</h2>
				<div class="media">
					<div class="pull-left">
						<img src="/static/img/site/contacts.png">
					</div>
					<div class="media-body">
						<p>	Отдел расселения первых этажей<br >
							Юшкова Наталия Викторовна<br >
							тел. (343) <big>269-55-95</big>
						</p>
					</div>
				</div>
				<div class="media">
					<div class="pull-left">
						<img src="/static/img/site/contacts.png">
					</div>
					<div class="media-body">
						<p>	Отдел расселения первых этажей<br >
							Юшкова Наталия Викторовна<br >
							тел. (343) <big>269-55-95</big>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="span10">
			<div class="cute-box">
				<div class="clearfix">
					<div class="pull-left">
						<p>Наш адрес:<br >
							г. Екатеринбург, ул. Чапаева, 14 корп. 1
						</p>
					</div>
					<div class="pull-right">
						<div class="media">
							<div class="pull-left">
								<p>Пишите нам:</p>
							</div>
							<div class="media-body">
								<a href="#">2695595@mail.ru</a><br >
								<a href="#">2695595@gmail.ru</a>
							</div>
						</div>
					</div>
					<img class="map" src="/static/img/site/mini-map.png">
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}