{% extends "base.html" %}
{% block title %}Сотрудники{% endblock %}
{% block content %}
<div class="row">
	<div class="span15">
		<ul class="breadcumbs clearfix">
			<li><a href="#">Главная</a> <span class="divider">→</span></li>
			<li class="active">Сотрудники</li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="row">
		<div class="span15">
			<div class="ribbon-arrow-small"><h1>Сотрудники</h1></div>
		</div>
	</div>
	<div class="span5">
		<ul class="simple-list list-bordered">
			<li><a href="#">Смирнов Михаил Геннадьевич</a></li>
			<li><a href="#">Юшкова Наталия Викторовна</a></li>
			<li><a href="#">Очнева Олеся Алексеевна</a></li>
			<li><a href="#">Гаренских Маргарита Владимировна</a></li>
			<li><a href="#">Гарифуллина Алена Михайловна </a></li>
			<li><a href="#">Смирнов Михаил Геннадьевич</a></li>
			<li><a href="#">Юшкова Наталия Викторовна</a></li>
			<li><a href="#">Очнева Олеся Алексеевна</a></li>
			<li><a href="#">Гаренских Маргарита Владимировна</a></li>
			<li><a href="#">Гарифуллина Алена Михайловна </a></li>
			<li><a href="#">Смирнов Михаил Геннадьевич</a></li>
			<li><a href="#">Юшкова Наталия Викторовна</a></li>
			<li><a href="#">Очнева Олеся Алексеевна</a></li>
			<li><a href="#">Гаренских Маргарита Владимировна</a></li>
			<li><a href="#">Гарифуллина Алена Михайловна </a></li>
			<li><a href="#">Смирнов Михаил Геннадьевич</a></li>
			<li><a href="#">Юшкова Наталия Викторовна</a></li>
			<li><a href="#">Очнева Олеся Алексеевна</a></li>
			<li><a href="#">Гаренских Маргарита Владимировна</a></li>
			<li><a href="#">Гарифуллина Алена Михайловна </a></li>
			<li><a href="#">Очнева Олеся Алексеевна</a></li>
			<li><a href="#">Гаренских Маргарита Владимировна</a></li>
		</ul>
	</div>
	<div class="span10 empl-carrd-page empl-list">
		<div class="cute-box">
			<table>
				<tr>
					<td>
						<div class="media">
							<a class="pull-left" href="#">
								<img class="media-object" src="/static/img/site/emp-list.png">
							</a>
							<div class="media-body">
								<a href="#" class="media-heading">Очнева Олеся Алексеевна</a>
								<p>Руководитель группы отдела расселений 1-х этажей<br >
									тел. +7 (922) <big>142-39-35</big>
								</p>
							</div>
						</div>
					</td>
					<td>
						<div class="media">
							<a class="pull-left" href="#">
								<img class="media-object" src="/static/img/site/emp-list.png">
							</a>
							<div class="media-body">
								<a href="#" class="media-heading">Очнева Олеся Алексеевна</a>
								<p>Руководитель группы отдела расселений 1-х этажей<br >
									тел. +7 (922) <big>142-39-35</big>
								</p>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="media">
							<a class="pull-left" href="#">
								<img class="media-object" src="/static/img/site/emp-list.png">
							</a>
							<div class="media-body">
								<a href="#" class="media-heading">Очнева Олеся Алексеевна</a>
								<p>Руководитель группы отдела расселений 1-х этажей<br >
									тел. +7 (922) <big>142-39-35</big>
								</p>
							</div>
						</div>
					</td>
					<td>
						<div class="media">
							<a class="pull-left" href="#">
								<img class="media-object" src="/static/img/site/emp-list.png">
							</a>
							<div class="media-body">
								<a href="#" class="media-heading">Очнева Олеся Алексеевна</a>
								<p>Руководитель группы отдела расселений 1-х этажей<br >
									тел. +7 (922) <big>142-39-35</big>
								</p>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="media">
							<a class="pull-left" href="#">
								<img class="media-object" src="/static/img/site/emp-list.png">
							</a>
							<div class="media-body">
								<a href="#" class="media-heading">Очнева Олеся Алексеевна</a>
								<p>Руководитель группы отдела расселений 1-х этажей<br >
									тел. +7 (922) <big>142-39-35</big>
								</p>
							</div>
						</div>
					</td>
					<td>
						<div class="media">
							<a class="pull-left" href="#">
								<img class="media-object" src="/static/img/site/emp-list.png">
							</a>
							<div class="media-body">
								<a href="#" class="media-heading">Очнева Олеся Алексеевна</a>
								<p>Руководитель группы отдела расселений 1-х этажей<br >
									тел. +7 (922) <big>142-39-35</big>
								</p>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="media">
							<a class="pull-left" href="#">
								<img class="media-object" src="/static/img/site/emp-list.png">
							</a>
							<div class="media-body">
								<a href="#" class="media-heading">Очнева Олеся Алексеевна</a>
								<p>Руководитель группы отдела расселений 1-х этажей<br >
									тел. +7 (922) <big>142-39-35</big>
								</p>
							</div>
						</div>
					</td>
					<td>
						<div class="media">
							<a class="pull-left" href="#">
								<img class="media-object" src="/static/img/site/emp-list.png">
							</a>
							<div class="media-body">
								<a href="#" class="media-heading">Очнева Олеся Алексеевна</a>
								<p>Руководитель группы отдела расселений 1-х этажей<br >
									тел. +7 (922) <big>142-39-35</big>
								</p>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="media">
							<a class="pull-left" href="#">
								<img class="media-object" src="/static/img/site/emp-list.png">
							</a>
							<div class="media-body">
								<a href="#" class="media-heading">Очнева Олеся Алексеевна</a>
								<p>Руководитель группы отдела расселений 1-х этажей<br >
									тел. +7 (922) <big>142-39-35</big>
								</p>
							</div>
						</div>
					</td>
					<td>
						<div class="media">
							<a class="pull-left" href="#">
								<img class="media-object" src="/static/img/site/emp-list.png">
							</a>
							<div class="media-body">
								<a href="#" class="media-heading">Очнева Олеся Алексеевна</a>
								<p>Руководитель группы отдела расселений 1-х этажей<br >
									тел. +7 (922) <big>142-39-35</big>
								</p>
							</div>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>
{% endblock %}