{% extends "base.html" %}
{% block title %}Карточка сотрудника{% endblock %}
{% block content %}
<div class="row">
	<div class="span15">
		<ul class="breadcumbs clearfix">
			<li><a href="#">Главная</a> <span class="divider">→</span></li>
			<li class="active">Сотрудники</li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="row">
		<div class="span15">
			<div class="ribbon-arrow-small"><h1>Сотрудники</h1></div>
		</div>
	</div>
	<div class="span5">
		<ul class="simple-list list-bordered">
			<li><a href="#">Смирнов Михаил Геннадьевич</a></li>
			<li><a href="#">Юшкова Наталия Викторовна</a></li>
			<li><a href="#">Очнева Олеся Алексеевна</a></li>
			<li><a href="#">Гаренских Маргарита Владимировна</a></li>
			<li><a href="#">Гарифуллина Алена Михайловна </a></li>
			<li><a href="#">Смирнов Михаил Геннадьевич</a></li>
			<li><a href="#">Юшкова Наталия Викторовна</a></li>
			<li><a href="#">Очнева Олеся Алексеевна</a></li>
			<li><a href="#">Гаренских Маргарита Владимировна</a></li>
			<li><a href="#">Гарифуллина Алена Михайловна </a></li>
			<li><a href="#">Смирнов Михаил Геннадьевич</a></li>
			<li><a href="#">Юшкова Наталия Викторовна</a></li>
			<li><a href="#">Очнева Олеся Алексеевна</a></li>
			<li><a href="#">Гаренских Маргарита Владимировна</a></li>
			<li><a href="#">Гарифуллина Алена Михайловна </a></li>
			<li><a href="#">Смирнов Михаил Геннадьевич</a></li>
			<li><a href="#">Юшкова Наталия Викторовна</a></li>
			<li><a href="#">Очнева Олеся Алексеевна</a></li>
			<li><a href="#">Гаренских Маргарита Владимировна</a></li>
			<li><a href="#">Гарифуллина Алена Михайловна </a></li>
			<li><a href="#">Очнева Олеся Алексеевна</a></li>
			<li><a href="#">Гаренских Маргарита Владимировна</a></li>
		</ul>
	</div>
	<div class="span10 empl-carrd-page">
		<div class="cute-box">
			<p class="pull-right">тел. +7 (912) <big>665-13-90</big></p>
			<h2>Юшкова Наталья Викторовна</h2>
			<p><b>Руководитель группы отдела расселений 1-х этажей</b></p>
			<div class="media empl-carrd">
				<div class="pull-left">
					<img src="/static/img/site/emp.png">
				</div>
				<div class="media-body">
					<div class="blue-cloud">
						<h2>«Перемены всегда к лучшему»</h2>
					</div>
					<p>
						Квалификационный аттестат брокера по недвижимости<br >
						Стаж работы - 8 лет<br >
						Достигла успехов в сделках с 1-ми этажами, вторичным жильем.
					</p>
					<p>Электронная почта:</p>
					<a href="#">natasha1673@mail.ru</a>
					<div class="response-forms">
						<a class="write-us" href="#write-us" data-toggle="modal">Написать письмо</a>
						<a class="call-back" href="#call-back" data-toggle="modal">Перезвонить</a>
					</div>
				</div>
			</div>
			<table>
				<tr>
					<td>
						<div class="media">
							<a class="pull-left" href="#">
								<img class="media-object img-rounded" src="/static/img/site/object.png">
							</a>
							<div class="media-body">
								<a href="#" class="media-heading">2-комн. квартира</a>
								<p>СЫРОМОЛОТОВА, д. 9</p>
								<p>г. Екатеринбург</p>
								<p class="object-price">4 800 000</p>
							</div>
						</div>
					</td>
					<td>
						<div class="media">
							<a class="pull-left" href="#">
								<img class="media-object img-rounded" src="/static/img/site/object.png">
							</a>
							<div class="media-body">
								<a href="#" class="media-heading">2-комн. квартира</a>
								<p>СЫРОМОЛОТОВА, д. 9</p>
								<p>г. Екатеринбург</p>
								<p class="object-price">4 800 000</p>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="media">
							<a class="pull-left" href="#">
								<img class="media-object img-rounded" src="/static/img/site/object.png">
							</a>
							<div class="media-body">
								<a href="#" class="media-heading">2-комн. квартира</a>
								<p>СЫРОМОЛОТОВА, д. 9</p>
								<p>г. Екатеринбург</p>
								<p class="object-price">4 800 000</p>
							</div>
						</div>
					</td>
					<td>
						<div class="media">
							<a class="pull-left" href="#">
								<img class="media-object img-rounded" src="/static/img/site/object.png">
							</a>
							<div class="media-body">
								<a href="#" class="media-heading">2-комн. квартира</a>
								<p>СЫРОМОЛОТОВА, д. 9</p>
								<p>г. Екатеринбург</p>
								<p class="object-price">4 800 000</p>
							</div>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>
{% endblock %}