<footer>
	<div class="footer-divider"></div>
	<div class="footer-content">
		<div class="container">
			<div class="footer-img"></div>
			<div class="row">
				<div class="span2">
					<a href="#" class="upn"></a>
					<a href="#" class="rgp"></a>
				</div>
				<div class="span3">
					<div class="footer-contacts">
						<p>Россия, Екатеринбург,<br >
							ул. Чапаева 14, корп.1<br >
							(343) 269 55 05, 269 55 95<br >
							ул. Советская, 41<br >
							(343) 206 18 88
						</p>
					</div>
				</div>
				<div class="span6">
					<div class="footer-buttons">
						<a class="site-map" href="/list">Карта сайта</a>
						<a class="faq" href="#">FAQ</a>
					</div>
				</div>
				<div class="span4">
					<div class="zavod pull-right">
						<p>Разработка сайта</p>
						<a href="#" class="zavod-logo"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>