{% extends "base.html" %}
{% block title %}Клиентам{% endblock %}
{% block content %}
	<div class="row">
		<div class="span15">
			<ul class="breadcumbs clearfix">
				<li><a href="#">Главная</a> <span class="divider">→</span></li>
				<li class="active">Клиентам</li>
			</ul>
		</div>
	</div>
	{% include "partials/request-form.html" %}
	<div class="row">
		<div class="span11">
			<div class="calculator clearfix">
				<button type="button" data-toggle="button" class="btn btn-primary pull-left big-btn-calc ipotech-calc-button">
					<img class="btn-calc-ico" src="/static/img/blank.gif">
					<h1>ипотечный калькулятор</h1>
					<img class="btn-calc-arrow" src="/static/img/blank.gif">
				</button>
				<button type="button" data-toggle="button" class="btn btn-primary pull-right big-btn-calc credit-calc-button">
					<img class="btn-calc-ico" src="/static/img/blank.gif">
					<h1>кредитный калькулятор</h1>
					<img class="btn-calc-arrow" src="/static/img/blank.gif">
				</button>
				{% include "partials/calc-form.html" %}
			</div>
			{% include "partials/useful-info.html" %}
		</div>
		<div class="span4">
			<div class="questions">
				<div class="ribbon-med"><h1>Вопрос-ответ</h1></div>
				<div>
					<div class="question">
						<p>Здравствуйте несколько лет назад к нам приходили ваши агенты и разместили объявление о продаже, но с тех пор никаких результатов. Хочется узнать работает ли над этим кто нибудь. Адрес Старых большевиков 23 квартира 1.</p>
					</div>
					<div class="answer">
						<p>Добрый день. Все в порядке, Ваш объект находится в нашей базе и активно предлагается заказчикам коммерческой недвижимости в Орджоникидзевском районе. Над объектом работает Гаренских Маргарита Владимировна.</p> 
						<p>Тел. 8-902-27-08-612.</p>
					</div>
				</div>
				<div>
					<div class="question">
						<p>Здравствуйте несколько лет назад к нам приходили ваши агенты и разместили объявление о продаже, но с тех пор никаких результатов. Хочется узнать работает ли над этим кто нибудь. Адрес Старых большевиков 23 квартира 1.</p>
					</div>
					<div class="answer">
						<p>Добрый день. Все в порядке, Ваш объект находится в нашей базе и активно предлагается заказчикам коммерческой недвижимости в Орджоникидзевском районе. Над объектом работает Гаренских Маргарита Владимировна.</p> 
						<p>Тел. 8-902-27-08-612.</p>
					</div>
				</div>
				<div class="clearfix"><a class="blue-arrow pull-right" href="#">Показать все</a></div>
			</div>
		</div>
	</div>
{% endblock %}