<header>
	<div class="container">
		<div class="row">
			<div class="span15">
				<nav>
					<a class="nav-home" href="index.html"></a>
					<a class="nav-divider" href="#">Наши проекты</a>
					<a class="nav-divider" href="#">Объекты</a>
					<a class="nav-divider" href="#">Услуги</a>
					<a class="nav-divider" href="#">Клиентам</a>
					<a class="nav-divider" href="#">Сотрудники</a>
					<a class="nav-divider" href="#">Полезная информация</a>
					<a class="nav-divider" href="#">Сертификаты и награды</a>
					<a class="nav-divider" href="#">Вакансии</a>
					<a href="#">Контакты</a>
				</nav>
			</div>
		</div>
	</div>
</header>
<div class="container">
	<div class="row">
		<div class="span3">
			<a href="#" class="logo"><img src="/static/img/site/logo.png"></a>
		</div>
		<div class="span4 header-phones">
			<p>Екатеринбург, ул. Чапаева 14, корп.1</p>
			<div class="media">
				<a class="pull-left" href="#">
					<div></div>
				</a>
				<div class="media-body">
					<div class="media">
						<div class="pull-left">
							<p>(343)</p>
						</div>
						<div class="media-body">
							<p>269 55 05</p>
							<p>269 55 95</p>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="span4 header-phones">
			<p>Екатеринбург, ул. Советская, 41</p>
			<div class="media">
				<a class="pull-left" href="#">
					<div></div>
				</a>
				<div class="media-body">
					<div class="media">
						<div class="pull-left">
							<p>(343)</p>
						</div>
						<div class="media-body">
							<p>206 18 88</p>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="span4">
			<div class="input-append search-form">
				<input class="span2" id="appendedInputButton" type="text" placeholder="Поиск">
				<button class="btn btn-link" type="button"><span></span></button>
			</div>
			<div class="response-forms pull-right">
				<a class="write-us" href="#write-us" data-toggle="modal">Написать письмо</a>
				<a class="call-back" href="#call-back" data-toggle="modal">Перезвонить</a>
			</div>
		</div>
	</div>
</div>