{% extends "base.html" %}
{% block title %}Главная{% endblock %}
{% block content %}
<div class="row">
	<div class="span15">
		<div class="slider">
			<ul class="bxslider">
				<li>
					<img src="/static/img/slider/pic1.png">
					<div class="bxslider-content">
						<div>
							<h1>Недвижимость зарубежом</h1>
							<p>2-х спальная квартира 62 м<sup>2</sup> в районе Пунта Прима Испания</p>
							<a class="blue-arrow" href="#">Подробнее</a>
						</div>
					</div>
				</li>
				<li>
					<img src="/static/img/examples/image-1.jpg">
					<div class="bxslider-content">
						<div>
							<h1>Недвижимость зарубежом</h1>
							<p>2-х спальная квартира 62 м<sup>2</sup> в районе Пунта Прима Испания</p>
							<a class="blue-arrow" href="#">Подробнее</a>
						</div>
					</div>
				</li>
				<li>
					<img src="/static/img/examples/image-2.jpg">
					<div class="bxslider-content">
						<div>
							<h1>Недвижимость зарубежом</h1>
							<p>2-х спальная квартира 62 м<sup>2</sup> в районе Пунта Прима Испания</p>
							<a class="blue-arrow" href="#">Подробнее</a>
						</div>
					</div>
				</li>
				<li>
					<img src="/static/img/examples/image-3.jpg">
					<div class="bxslider-content">
						<div>
							<h1>Недвижимость зарубежом</h1>
							<p>2-х спальная квартира 62 м<sup>2</sup> в районе Пунта Прима Испания</p>
							<a class="blue-arrow" href="#">Подробнее</a>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="row">
	<div class="span11">
		<div class="main-page-objects">
			
			<div class="cute-box">
				<div class="ribbon"><h1>Объекты</h1></div>
				<a class="pull-right blue-arrow" href="#">Все объекты</a>
				<table>
					<tr>
						<td>
							<div class="media">
								<a class="pull-left" href="#">
									<img class="media-object img-rounded" src="/static/img/site/object.png">
								</a>
								<div class="media-body">
									<a href="#" class="media-heading">2-комн. квартира</a>
									<p>СЫРОМОЛОТОВА, д. 9</p>
									<p>г. Екатеринбург</p>
									<p class="object-price">4 800 000</p>
								</div>
							</div>
						</td>
						<td>
							<div class="media">
								<a class="pull-left" href="#">
									<img class="media-object img-rounded" src="/static/img/site/object.png">
								</a>
								<div class="media-body">
									<a href="#" class="media-heading">2-комн. квартира</a>
									<p>СЫРОМОЛОТОВА, д. 9</p>
									<p>г. Екатеринбург</p>
									<p class="object-price">4 800 000</p>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="media">
								<a class="pull-left" href="#">
									<img class="media-object img-rounded" src="/static/img/site/object.png">
								</a>
								<div class="media-body">
									<a href="#" class="media-heading">2-комн. квартира</a>
									<p>СЫРОМОЛОТОВА, д. 9</p>
									<p>г. Екатеринбург</p>
									<p class="object-price">4 800 000</p>
								</div>
							</div>
						</td>
						<td>
							<div class="media">
								<a class="pull-left" href="#">
									<img class="media-object img-rounded" src="/static/img/site/object.png">
								</a>
								<div class="media-body">
									<a href="#" class="media-heading">2-комн. квартира</a>
									<p>СЫРОМОЛОТОВА, д. 9</p>
									<p>г. Екатеринбург</p>
									<p class="object-price">4 800 000</p>
								</div>
							</div>
						</td>
					</tr>
				</table>
				
			</div>
		</div>
		<div class="main-page-services">
			<div class="ribbon"><h1>Услуги</h1></div>
			<p><b>Агентство недвижимости «Белый дом»</b> действительный член Уральской палаты недвижимости Российской гильдии риэлторов. Мы предлагаем огромный спектр услуг на рынке жилой и нежилой недвижимости:</p>
			<div class="row">
				<div class="span5">
					<ul class="simple-list">
						<li><a href="#">срочный выкуп объектов недвижимости</a></li>
						<li><a href="#">расселение первых этажей</a></li>
						<li><a href="#">сопровождение сделок</a></li>
						<li><a href="#">продажа жилой и коммерческой недвижимости, обмен любой сложности</a></li>
						<li><a href="#">подбор, поиск любых объектов недвижимости</a></li>
					</ul>
				</div>
				<div class="span6">
					<ul class="simple-list">
						<li><a href="#">услуги на рынке загородной недвижимости</a></li>
						<li><a href="#">аренда</a></li>
						<li><a href="#">приватизация</a></li>
						<li><a href="#">перевод в нежилой фонд, согласование перепланировок</a></li>
						<li><a href="#">услуги квалифицированного юриста</a></li>
						<li><a href="#">консультации по любым вопросам недвижимости</a></li>
					</ul>
				</div>

			</div>
			<p> Индивидуальный подход к каждому клиенту. Вас встретят высококвалифицированные специалисты. Мы готовы быстро решать нестандартные задачи, благодаря нашиму опыту и возможностям.</p>
		</div>
	</div>
	<div class="span4">
		<div class="fakts">
			<div class="fakts-header"><div class="fakts-ico"></div>Интересные факты о компании</div>
			<div class="fakts-body">
				<div class="media">
					<a class="pull-left" href="#">
						<img class="media-object" src="/static/img/site/fakts.png">
					</a>
					<div class="media-body">
						<p>Акция «ЮБИЛЕЙНАЯ» НАМ 15 ЛЕТ, А ВАМ 15 000 РУБЛЕЙ!</p>
					</div>
				</div>
			</div>
		</div>
		<div class="main-page-info">
			<div class="ribbon-large"><h1>Полезная информация</h1></div>
			<div class="main-page-info-article">
				<a href="#"><h3>Как быстро продать квартиру через интернет</h3></a>
				<p>Как правильно организовать рекламную кампанию продаваемой недвижимости в Интернете? Где размещать объявления, в каком количестве, как часто обновлять информацию? Ответы на эти и другие вопросы важны для быстрой и выгодной продажи квартиры.</p>
			</div>
			<div class="main-page-info-article">
				<a href="#"><h3>«Профессиональное признание–2011» «Белый дом». Коммерческая недвижимость и уверенность в будущем.</h3></a> 
				<p>В конкурсе Уральской палаты недвижимости на звание лучшего агентства, работающего в сегменте коммерческой недвижимости, «Белый дом» побеждает уже во второй раз.</p>
			</div>
			<a href="#" class="blue-arrow pull-right">Все статьи</a>
		</div>


	</div>
</div>
{% endblock %}