{% extends "base.html" %}
{% block title %}Полезная информация{% endblock %}
{% block content %}
<div class="row">
	<div class="span15">
		<ul class="breadcumbs clearfix">
			<li><a href="#">Главная</a> <span class="divider">→</span></li>
			<li class="active">Полезная информация</li>
		</ul>
	</div>
</div>
<div class="ribbon-arrow"><h1>Полезная информация</h1></div>
<div class="cute-box cute-box-large useful-info">
	<div class="media">
		<div class="pull-left">
			<img class="img-rounded" src="/static/img/site/article.png">
		</div>
		<div class="media-body">
			<a href="#"><h2>Как быстро продать квартиру через интернет</h2></a>
			<p>Как правильно организовать рекламную кампанию продаваемой недвижимости в Интернете? Где размещать объявления, в каком количестве, как часто обновлять информацию? Ответы на эти и другие вопросы важны для быстрой и выгодной продажи квартиры.</p>
		</div>
	</div>
	<div class="media">
		<div class="pull-left">
			<img class="img-rounded" src="/static/img/site/article.png">
		</div>
		<div class="media-body">
			<a href="#"><h2>Как быстро продать квартиру через интернет</h2></a>
			<p>Как правильно организовать рекламную кампанию продаваемой недвижимости в Интернете? Где размещать объявления, в каком количестве, как часто обновлять информацию? Ответы на эти и другие вопросы важны для быстрой и выгодной продажи квартиры.</p>
		</div>
	</div>
	<div class="media">
		<div class="pull-left">
			<img class="img-rounded" src="/static/img/site/article.png">
		</div>
		<div class="media-body">
			<a href="#"><h2>Как быстро продать квартиру через интернет</h2></a>
			<p>Как правильно организовать рекламную кампанию продаваемой недвижимости в Интернете? Где размещать объявления, в каком количестве, как часто обновлять информацию? Ответы на эти и другие вопросы важны для быстрой и выгодной продажи квартиры.</p>
		</div>
	</div>
	{% include "partials/pagination.html" %}
</div>
{% endblock %}