{% extends "base.html" %}
{% block title %}Список шаблонов{% endblock %}
{% block content %}
<div class="container">
	<div class="ribbon">
		<h1>Страницы</h1>
	</div>
	<ul class="simple-list list-bordered">
		<li><a href="/">Главная</a></li>
		<li><a href="/article">Статья</a></li>
		<li><a href="/object-card">Карточка объекта</a></li>
		<li><a href="/request">Заявка</a></li>
		<li><a href="/empl-card">Карточка сотрудника</a></li>
		<li><a href="/for-clients">Клиентам</a></li>
		<li><a href="/object">Объект</a></li>
		<li><a href="/contacts">Контакты</a></li>
		<li><a href="/projects">Наши проекты</a></li>
		<li><a href="/info">Полезная информация</a></li>
		<li><a href="/empl-list">Сортудники-2</a></li>
		<li><a href="/services">Услуги</a></li>
		<li><a href="/under-construction">Страница в разработке</a></li>
	</ul>
</div>
{% endblock %}