{% extends "base.html" %}
{% block title %}Карточка объекта{% endblock %}
{% block content %}
<div class="row">
	<div class="span15">
		<ul class="breadcumbs clearfix">
			<li><a href="#">Главная</a> <span class="divider">→</span></li>
			<li><a href="#">Объекты</a> <span class="divider">→</span></li>
			<li class="active">2-комн. квартира на Титова</li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="span15">
		<div class="cute-box-large cute-box object-card-page">
			<div class="row-fluid">
				<div class="span7">
					{% include "partials/viewer.html" %}
				</div>
				<div class="span8">
					<div class="object-card-price pull-right">
						<h1>4 800 000</h1><img src="/static/img/site/rubl-big.png">
					</div>
					<h1>2-комн. квартира</h1>
					<p class="obj-addr">ул. Титова, д. 25/А<br >г. Екатеринбург</p>
					{% include "partials/addthis.html" %}
					<p class="obj-propetries">44.0 / 25.0 м2<br >Продажа квартиры, 2 комн.</p>
					<div class="b-group">
						<button class="btn btn-primary" href="#call-back" data-toggle="modal">Записаться на осмотр</button><a href="#" class="btn btn-link">Отложить</a>
					</div>
					<p class="obj-contacts">
						Контактный телефон: +7 922 166 69 99<br >
						Контактное лицо: БЕЛОВ СЕРГЕЙ ГЕННАДЬЕВИЧ<br >
						Белый Дом<br >
						Тел.: +7 (343) 269-55-95    Перезвоните мне<br >
						г. Екатеринбург, ул. Чапаева, 14 корп. 1<br >
					</p>
				</div>
			</div>
			<h2>Характеристки объекта</h2>
			<table class="table table-striped pull-left">
				<tr>
					<td>Материал стен</td>
					<td>Кирпич</td>
				</tr>
				<tr>
					<td>Этаж</td>
					<td>1 из 9</td>
				</tr>
				<tr>
					<td>Планировка</td>
					<td>Малосемейка</td>
				</tr>
				<tr>
					<td>Тип сделки</td>
					<td>Продажа ( Обмен )</td>
				</tr>
			</table>
			<table class="table table-striped pull-right">
				<tr>
					<td>Область</td>
					<td>Свердловская обл</td>
				</tr>
				<tr>
					<td>Город</td>
					<td>Екатеринбург</td>
				</tr>
				<tr>
					<td>Улица</td>
					<td>ТИТОВА</td>
				</tr>
				<tr>
					<td>Дом</td>
					<td>25/А</td>
				</tr>
			</table>
			
			<h2>Карта</h2>
			<img src="/static/img/site/map.png">
			<h2>Дополнительные опции</h2>
			<div class="row-fluid extend-opts">
				<div class="span2">
					<p>Требуется ремонт</p>
					<p>Телефон</p>
				</div>
				<div class="span2">
					<p>Стеклопакет</p>
					<p>Перепланировка</p>
				</div>
			</div>
			
		</div>
		<div class="object-card-page-nav">
			<div class="pull-left"><a href="#">Предыдущий объект</a></div>
			<div class="pull-right"><a href="#">Следующий объект</a></div>
			<div class="pull-center"><a href="#">Обратно к поиску</a></div>
		</div>
	</div>
</div>

{% endblock %}