{% extends "base.html" %}
{% block title %}Объекты{% endblock %}
{% block content %}
	<div class="reserved-objects">
		<div class="reserved-objects-toggle-fix">
			<div class="reserved-objects-toggle btn-primary">
				<a href="#">Отложено</a><span>(3)</span>
			</div>
		</div>
		<div class="reserved-objects-content">
			<div class="media">
				<div class="pull-left">
					<img src="/static/img/examples/image-1.jpg">
					<a class="object-remove" href="#"></a>
				</div>
				<div class="media-body">
					<a href="#">2-комн. квартира</a><br >
					<p class="reserved-object-price">4 800 000</p>
				</div>
			</div>
			<div class="media">
				<div class="pull-left">
					<img src="/static/img/examples/image-1.jpg">
					<a class="object-remove" href="#"></a>
				</div>
				<div class="media-body">
					<a href="#">2-комн. квартира</a><br >
					<p class="reserved-object-price">4 800 000</p>
				</div>
			</div>
			<div class="media">
				<div class="pull-left">
					<img src="/static/img/examples/image-1.jpg">
					<a class="object-remove" href="#"></a>
				</div>
				<div class="media-body">
					<a href="#">2-комн. квартира</a><br >
					<p class="reserved-object-price">4 800 000</p>
				</div>
			</div>
			<div class="media">
				<div class="pull-left">
					<img src="/static/img/examples/image-1.jpg">
					<a class="object-remove" href="#"></a>
				</div>
				<div class="media-body">
					<a href="#">2-комн. квартира</a><br >
					<p class="reserved-object-price">4 800 000</p>
				</div>
			</div>
			<div class="media">
				<div class="pull-left">
					<img src="/static/img/examples/image-1.jpg">
					<a class="object-remove" href="#"></a>
				</div>
				<div class="media-body">
					<a href="#">2-комн. квартира</a><br >
					<p class="reserved-object-price">4 800 000</p>
				</div>
			</div>
			<div class="media">
				<div class="pull-left">
					<img src="/static/img/examples/image-1.jpg">
					<a class="object-remove" href="#"></a>
				</div>
				<div class="media-body">
					<a href="#">2-комн. квартира</a><br >
					<p class="reserved-object-price">4 800 000</p>
				</div>
			</div>
			<div class="media">
				<div class="pull-left">
					<img src="/static/img/examples/image-1.jpg">
					<a class="object-remove" href="#"></a>
				</div>
				<div class="media-body">
					<a href="#">2-комн. квартира</a><br >
					<p class="reserved-object-price">4 800 000</p>
				</div>
			</div>
			<div class="media">
				<div class="pull-left">
					<img src="/static/img/examples/image-1.jpg">
					<a class="object-remove" href="#"></a>
				</div>
				<div class="media-body">
					<a href="#">2-комн. квартира</a><br >
					<p class="reserved-object-price">4 800 000</p>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="row">
		<div class="span15">
			<ul class="breadcumbs clearfix">
				<li><a href="#">Главная</a> <span class="divider">→</span></li>
				<li class="active">Объекты</li>
			</ul>
		</div>
	</div>
	<form class="object-search">
		<div class="object-search-head">
			<div class="ribbon-arrow-small"><h1>Объекты</h1></div>
			<div class="input-append search-form">
				<input id="appendedInputButton" type="text" placeholder="Поиск объекта">
				<button class="btn btn-link" type="button"><span></span></button>
			</div>
			<button class="btn btn-gray">Сбросить</button>
		</div>
		<div class="object-search-body cute-box-else">
			<div class="form-inline">
				<label>Город и район</label><a href="#select-area" data-toggle="modal">Выбрать</a>
				<label>Тип объекта</label>
				<select>
					<option>Квартира</option>
					<option>..</option>
					<option>..</option>
					<option>4</option>
					<option>5</option>
				</select>
				<label>Тип планировки</label>
				<select>
					<option>Любая</option>
					<option>..</option>
					<option>..</option>
					<option>4</option>
					<option>5</option>
				</select>
			</div>
			<div class="form-inline short-spaces clearfix">
				<div class="pull-right">
					<button class="btn btn-link advansed-search" type="button"><span>Расширенный поиск</span></button>
				</div>
				<label>Сортировать по:</label>
				<button class="btn btn-link sort"><span>Цена</span></button>
				<button class="btn btn-link sort"><span>Дата</span></button>
			</div>
			<div class="advansed-search-box">
				<div class="form-inline">
					<label>Только с фото</label>
					<label class="checkbox">
						<input type="checkbox">
					</label>
					<label>Только с видео</label>
					<label class="checkbox">
						<input type="checkbox">
					</label>
				</div>
				<div class="form-inline short-spaces">
					<label>Цена</label>
					<select class="span2">
						<option>за объект</option>
						<option>..</option>
						<option>..</option>
						<option>4</option>
						<option>5</option>
					</select>
					<label class="inherit">от</label>
					<input type="text" class="span1">
					<label class="inherit">до</label>
					<input type="text" class="span1">
					<label class="inherit">в рублях</label>
					<label>Количество комнат</label>
					<select class="micro-select">
						<option>=</option>
						<option>..</option>
						<option>..</option>
						<option>4</option>
						<option>5</option>
					</select>
					<input type="text" class="span1">
				</div>
				<div class="row-fluid">
					<div class="span5">
						<fieldset>
							<label>Район Екатеринбурга</label>
							<a href="#select-area" class="btn btn-primary" data-toggle="modal">Выбрать</a><button class="btn">Очистить</button>
							<textarea rows="10"></textarea>
							<label class="checkbox inherit">
								<input type="checkbox"> Исключить районы
							</label>
						</fieldset>
					</div>
					<div class="span5">
						<fieldset>
							<label>Площади</label>
							<div class="form-inline">
								<label class="inherit">Общая от</label><input type="text" class="span1"><label class="inherit">до</label><input type="text" class="span1">
							</div>
							<div class="form-inline">
								<label class="inherit">Жилая от</label><input type="text" class="span1"><label class="inherit">до</label><input type="text" class="span1">
							</div>
							<div class="form-inline">
								<label class="inherit">Кухня от</label><input type="text" class="span1"><label class="inherit">до</label><input type="text" class="span1">
							</div>
							<div class="form-divider"></div>
							<div class="form-inline">
								<label class="inherit">Этаж от</label><input type="text" class="span1"><label class="inherit">до</label><input type="text" class="span1">
							</div>
							<div class="form-inline">
								<label class="checkbox inherit">
									<input type="checkbox"> Не первый
								</label>
								<label class="checkbox inherit">
									<input type="checkbox"> Не последний
								</label>
							</div>
							<div class="form-inline">
								<label>Этажей в здании</label>
								<select class="micro-select">
									<option>=</option>
									<option>..</option>
									<option>..</option>
									<option>4</option>
									<option>5</option>
								</select>
								<input type="text" class="span1">
							</div>
						</fieldset>
					</div>
					<div class="span5">
						<fieldset>
							<label>Дом</label>
							<label class="checkbox inherit">
								<input type="checkbox"> Брежневка
							</label>
							<label class="checkbox inherit">
								<input type="checkbox"> Деревянные
							</label>
							<label class="checkbox inherit">
								<input type="checkbox"> Малосемейка
							</label>
							<label class="checkbox inherit">
								<input type="checkbox"> Пентагон
							</label>
							<label class="checkbox inherit">
								<input type="checkbox"> Полнометражка
							</label>
							<label class="checkbox inherit">
								<input type="checkbox"> Спец. планировка
							</label>
							<label class="checkbox inherit">
								<input type="checkbox"> Улучш. планировка
							</label>
							<label class="checkbox inherit">
								<input type="checkbox"> Хрущевка
							</label>
						</fieldset>
					</div>
				</div>
				<div class="form-divider-full"></div>
				<div class="form-inline short-spaces clearfix">
					<div class="pull-right">
						<label>Продажа</label>
						<select class="span2">
							<option>не важно</option>
							<option>..</option>
							<option>..</option>
							<option>4</option>
							<option>5</option>
						</select>
					</div>
					<label>Адрес</label><label class="inherit">улица</label>
					<select class="span2">
						<option>не важно</option>
						<option>..</option>
						<option>..</option>
						<option>4</option>
						<option>5</option>
					</select>
					<label class="inherit">номер дома от</label>
					<input type="text" class="span1">
					<label class="inherit">до</label>
					<input type="text" class="span1">
				</div>
				<div class="form-inline short-spaces clearfix">
					<label>Материал стен</label>
					<select class="span2">
						<option>не важно</option>
						<option>..</option>
						<option>..</option>
						<option>4</option>
						<option>5</option>
					</select>
					<label>Сан. узел</label>
					<select class="span2">
						<option>не важно</option>
						<option>..</option>
						<option>..</option>
						<option>4</option>
						<option>5</option>
					</select>
				</div>
				<div class="row-fluid">
					<div class="span5">
						<fieldset>
							<label>Условия</label>
							<label class="checkbox inherit">
								<input type="checkbox"> Ипотека возможна
							</label>
							<label class="checkbox inherit">
								<input type="checkbox"> Комнаты изолированные
							</label>
							<label class="checkbox inherit">
								<input type="checkbox"> Многоуровневая кв.
							</label>
						</fieldset>
					</div>
					<div class="span5">
						<fieldset>
							<label>Наличие</label>
							<label class="checkbox inherit">
								<input type="checkbox"> Телефона
							</label>
							<label class="checkbox inherit">
								<input type="checkbox"> Мебели
							</label>
							<label class="checkbox inherit">
								<input type="checkbox"> Встроенной техники
							</label>
						</fieldset>
					</div>
					<div class="span5">
						<fieldset>
							<label>Дополнительно</label>
							<div class="form-inline">
								<label class="checkbox inherit checkbox-inline">
									<input type="checkbox"> Год постройки от 
								</label>
								<input type="text" class="span1">
								<label class="inherit">дней</label>
							</div>
							<div class="form-inline">
								<label class="checkbox inherit checkbox-inline">
									<input type="checkbox"> Искать новые за
								</label>
								<input type="text" class="span1">
								<label class="inherit">дней</label>
							</div>
							<div class="form-inline">
								<label class="checkbox inherit checkbox-inline">
									<input type="checkbox"> Измененные за 
								</label>
								<input type="text" class="span1">
								<label class="inherit">дней</label>
							</div>
						</fieldset>
					</div>
				</div>
				<div class="form-divider-full"></div>
				<div class="form-inline clearfix">
					<div class="pull-right">
						<button class="btn clear-form">Очистить</button>
						<button class="btn btn-primary">Искать</button>
						<a href="#search-on-map" class="btn btn-primary" data-toggle="modal">Искать на карте</a>
					</div>
					<label>Показать:</label>
					<select>
						<option>за все время</option>
						<option>..</option>
						<option>..</option>
						<option>4</option>
						<option>5</option>
					</select>
				</div>
			</div>
		</div>
	</form>
	<div class="cute-box cute-box-large search-results">
		<table>
			<tr>
				<td>
					<div class="media">
						<div class="pull-left">
							<a href=""><img class="media-object img-rounded" src="/static/img/site/object.png"></a>
							<button class="btn btn-primary btn-block"><span>Отложить</span></button>
						</div>
						<div class="media-body">
							<a href="#" class="media-heading">2-комн. квартира</a>
							<p>СЫРОМОЛОТОВА, д. 9</p>
							<p>г. Екатеринбург</p>
							<p class="object-price">4 800 000</p>
							<div class="ojbect-properties">
								<p>ЖБИ</p> 
								<p>Продажа квартиры</p> 
								<p>общая 47.0 м<sup>2</sup></p>
								<p>жилое 27.0 м<sup>2</sup></p>
								<p>кухня 7.0 м<sup>2</sup></p>
								<p>лоджия —</p>
							</div>
						</div>
					</div>
				</td>
				<td>
					<div class="media">
						<div class="pull-left">
							<a href=""><img class="media-object img-rounded" src="/static/img/site/object.png"></a>
							<button class="btn btn-primary btn-block"><span>Отложить</span></button>
						</div>
						<div class="media-body">
							<a href="#" class="media-heading">2-комн. квартира</a>
							<p>СЫРОМОЛОТОВА, д. 9</p>
							<p>г. Екатеринбург</p>
							<p class="object-price">4 800 000</p>
							<div class="ojbect-properties">
								<p>ЖБИ</p> 
								<p>Продажа квартиры</p> 
								<p>общая 47.0 м<sup>2</sup></p>
								<p>жилое 27.0 м<sup>2</sup></p>
								<p>кухня 7.0 м<sup>2</sup></p>
								<p>лоджия —</p>
							</div>
						</div>
					</div>
				</td>
				<td>
					<div class="media">
						<div class="pull-left">
							<a href=""><img class="media-object img-rounded" src="/static/img/site/object.png"></a>
							<button class="btn btn-primary btn-block"><span>Отложить</span></button>
						</div>
						<div class="media-body">
							<a href="#" class="media-heading">2-комн. квартира</a>
							<p>СЫРОМОЛОТОВА, д. 9</p>
							<p>г. Екатеринбург</p>
							<p class="object-price">4 800 000</p>
							<div class="ojbect-properties">
								<p>ЖБИ</p> 
								<p>Продажа квартиры</p> 
								<p>общая 47.0 м<sup>2</sup></p>
								<p>жилое 27.0 м<sup>2</sup></p>
								<p>кухня 7.0 м<sup>2</sup></p>
								<p>лоджия —</p>
							</div>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="media">
						<div class="pull-left">
							<a href=""><img class="media-object img-rounded" src="/static/img/site/object.png"></a>
							<button class="btn btn-primary btn-block"><span>Отложить</span></button>
						</div>
						<div class="media-body">
							<a href="#" class="media-heading">2-комн. квартира</a>
							<p>СЫРОМОЛОТОВА, д. 9</p>
							<p>г. Екатеринбург</p>
							<p class="object-price">4 800 000</p>
							<div class="ojbect-properties">
								<p>ЖБИ</p> 
								<p>Продажа квартиры</p> 
								<p>общая 47.0 м<sup>2</sup></p>
								<p>жилое 27.0 м<sup>2</sup></p>
								<p>кухня 7.0 м<sup>2</sup></p>
								<p>лоджия —</p>
							</div>
						</div>
					</div>
				</td>
				<td>
					<div class="media">
						<div class="pull-left">
							<a href=""><img class="media-object img-rounded" src="/static/img/site/object.png"></a>
							<button class="btn btn-primary btn-block"><span>Отложить</span></button>
						</div>
						<div class="media-body">
							<a href="#" class="media-heading">2-комн. квартира</a>
							<p>СЫРОМОЛОТОВА, д. 9</p>
							<p>г. Екатеринбург</p>
							<p class="object-price">4 800 000</p>
							<div class="ojbect-properties">
								<p>ЖБИ</p> 
								<p>Продажа квартиры</p> 
								<p>общая 47.0 м<sup>2</sup></p>
								<p>жилое 27.0 м<sup>2</sup></p>
								<p>кухня 7.0 м<sup>2</sup></p>
								<p>лоджия —</p>
							</div>
						</div>
					</div>
				</td>
				<td>
					<div class="media">
						<div class="pull-left">
							<a href=""><img class="media-object img-rounded" src="/static/img/site/object.png"></a>
							<button class="btn btn-primary btn-block"><span>Отложить</span></button>
						</div>
						<div class="media-body">
							<a href="#" class="media-heading">2-комн. квартира</a>
							<p>СЫРОМОЛОТОВА, д. 9</p>
							<p>г. Екатеринбург</p>
							<p class="object-price">4 800 000</p>
							<div class="ojbect-properties">
								<p>ЖБИ</p> 
								<p>Продажа квартиры</p> 
								<p>общая 47.0 м<sup>2</sup></p>
								<p>жилое 27.0 м<sup>2</sup></p>
								<p>кухня 7.0 м<sup>2</sup></p>
								<p>лоджия —</p>
							</div>
						</div>
					</div>
				</td>
			</tr>
		</table>
		{% include "partials/pagination.html" %}
	</div>
{% endblock %}