{% extends "base.html" %}
{% block title %}Наши проекты{% endblock %}
{% block content %}
<div class="row">
	<div class="span15">
		<ul class="breadcumbs clearfix">
			<li><a href="#">Главная</a> <span class="divider">→</span></li>
			<li class="active">Наши проекты</li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="row">
		<div class="span15">
			<div class="ribbon-arrow-med"><h1>Наши проекты</h1></div>
		</div>
	</div>
	<div class="span5">
		<ul class="simple-list list-bordered">
			<li><a href="#">Шервуд парк</a></li>
			<li><a href="#">Новостойки</a></li>
			<li><a href="#">Недвижимость в Болгарии</a></li>
			<li><a href="#">Недвижимость в Испании</a></li>
		</ul>
	</div>
	<div class="span10 projects-page">
		<div class="cute-box">
			<table>
				<tr>
					<td>
						<a href="#"><h3>Шервуд парк</h3></a>
						<img class="img-rounded" src="/static/img/site/project.png">
						<p>"Белый Дом" представляет уникальный жилой загородный комплекс - клубный коттеджный поселок  бизнес-класса "ШЕРВУД ПАРК".</p>
						<p>По всем объектам есть подробная информация с описанием, планировками и фото.</p>
					</td>
					<td>
						<a href="#"><h3>Шервуд парк</h3></a>
						<img class="img-rounded" src="/static/img/site/project.png">
						<p>"Белый Дом" представляет уникальный жилой загородный комплекс - клубный коттеджный поселок  бизнес-класса "ШЕРВУД ПАРК".</p>
					</td>
				</tr>
				<tr>
					<td>
						<a href="#"><h3>Шервуд парк</h3></a>
						<img class="img-rounded" src="/static/img/site/project.png">
						<p>"Белый Дом" представляет уникальный жилой загородный комплекс</p>
					</td>
					<td>
						<a href="#"><h3>Шервуд парк</h3></a>
						<img class="img-rounded" src="/static/img/site/project.png">
						<p>"Белый Дом" представляет уникальный жилой загородный комплекс - клубный коттеджный поселок  бизнес-класса "ШЕРВУД ПАРК".</p>
						<p>По всем объектам есть подробная информация с описанием, планировками и фото.</p>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>
{% endblock %}