{% extends "base.html" %}
{% block title %}Заявка{% endblock %}
{% block content %}
	<div class="row">
		<div class="span15">
			<ul class="breadcumbs clearfix">
				<li><a href="#">Главная</a> <span class="divider">→</span></li>
				<li><a href="#">Клиентам</a> <span class="divider">→</span></li>
				<li class="active">Заявка на покупку</li>
			</ul>
		</div>
	</div>
	{% include "partials/request-form.html" %}
{% endblock %}