{% extends "base.html" %}
{% block title %}Услуги{% endblock %}
{% block content %}
<div class="row">
	<div class="span15">
		<ul class="breadcumbs clearfix">
			<li><a href="#">Главная</a> <span class="divider">→</span></li>
			<li class="active">Услуги</li>
		</ul>
	</div>
</div>
<div class="row services-page">
	<div class="row">
		<div class="span15">
			<div class="ribbon-arrow-med"><h1>Услуги</h1></div>
		</div>
	</div>
	<div class="span5">
		<ul class="simple-list list-bordered">
			<li><a href="#">Выкуп объектов недвижимости</a></li>
			<li><a href="#">Расселение первых этажей</a></li>
			<li><a href="#">Сопровождение сделок</a></li>
			<li><a href="#">Продажа жилой и коммерческой недвижимости</a></li>
			<li><a href="#">Подбор любых объектов недвижимости</a></li>
			<li><a href="#">Загородная недвижимость</a></li>
			<li><a href="#">Аренда</a></li>
			<li><a href="#">Приватизация</a></li>
			<li><a href="#">Перевод в нежилой фонд</a></li>
			<li><a href="#">Согласование перепланировок</a></li>
			<li><a href="#">Услуги юриста</a></li>
			<li><a href="#">Консультации по вопросам недвижимости</a></li>
		</ul>
	</div>
	<div class="span10">
		<div class="cute-box">
			<p>Агентство недвижимости "Белый дом" действительный член Уральской палаты недвижимости Российской гильдии риэлторов. Мы предлагаем огромный спектр услуг на рынке жилой и нежилой недвижимости:</p>
			<ul class="simple-list">
				<li><a href="#">срочный выкуп объектов недвижимости;</a></li>
				<li><a href="#">расселение первых этажей;</a></li>
				<li><a href="#">сопровождение сделок;</a></li>
				<li><a href="#">продажа жилой и коммерческой недвижимости, обмен любой сложности;</a></li>
				<li><a href="#">подбор, поиск любых объектов недвижимости;</a></li>
				<li><a href="#">услуги на рынке загородной недвижимости;</a></li>
				<li><a href="#">аренда;</a></li>
				<li><a href="#">приватизация;</a></li>
				<li><a href="#">перевод в нежилой фонд, согласование перепланировок;</a></li>
				<li><a href="#">услуги квалифицированного юриста;</a></li>
				<li><a href="#">консультации по любым вопросам недвижимости.</a></li>
			</ul>
			<p>Индивидуальный подход к каждому клиенту. Вас встретят высококвалифицированные специалисты. Мы готовы быстро решать нестандартные задачи, благодаря нашиму опыту и возможностям.</p>
		</div>
	</div>
</div>
{% endblock %}